*{
    box-sizing: border-box;
}
$color-LightGray:#ebeae5;
$color-WedgwoodBlue:#8090a0;
$color-Orange:#e28749;
$color-White:#ffffff;
$color-White-opacity:#ffffffcc;
$color-Blue:#4762a5;
$color-Green:#69ce3a;
$color-IronGray:#444444;
$color-Gray:#c6c6c6;
$color-Apricot:#f7a269;
$color-DeepGray:#4c4c4c;
$color-SkyBlue:#86b2c4;
$color-Gainsboro:#a3b6c1;
$color-PaleBlue:#8fa5b5;
$color-Periwinkle:#c8d9db;
$color-Nav-icon:#65737f;
$color-Nav-font:#596772;
$color-Nav-Separate:#e8d0c1;
$color-placeholder:#9b9b9b;
$color-MiddleGray:#6d6d6d;
$color-prompt:#ff5353;
$color-Photo-nextBtn-hover:#6ba2f2;
$color-Background-line:#abbac9;
$color-Input-line:#aab2bc;
$color-MoreButton:#a0a0a0;
$color-MoreButton-hover:#abbac9;
$color-Plus:#7b8ea4;
$color-Message:#3ccf01;
$color-Message-controller:#4c4c4c;
$color-Message-facebook:#4762a5;
$color-Message-line:#69ce3a;
$color-Border-Gary:#a3a091;
$color-Footer-Background: #7a7573;
$color-Original-Price:#666666;
$color-Parallelogram:#f0efeb;
$color-Shopping-Step:#aab1b2;
$color-Shopping-Step-line:#717777;
$color-Textarea-Text:#a2b5c0;
$color-Product-Detail-Title:#7b8ca2;
$color-Evaluation-Star:#e08549;
$color-Deep-Red:#77170a;
$color-Deep-Blue:#1d2335;
$color-Brown:#a8673a;
$color-Brown-Yellow:#dbd0bd;
$color-Light-Gray:#e4e6eb;
$color-Number-Hover:#9e9e9e;
$color-Onsell:#7f7f7f;
$color-Cart-Border:#808e9e;
$color-Background-Square:#d1d0cd;
$color-Background-Shadow:#b3b3b3;
$color-Shoes-Button:#f5a069;
$coloe-Window-Background: #b7b7b7;
$color-Navbar-Bgc:rgba(232, 231, 226, 0.9);
$color-Shoes-Card:#d2cec2;

$font-Family-A:Arial, Helvetica, sans-serif;
$font-Weight-B:bold;
$font-Family-C:'Source Code Pro', monospace;

$font-letter-space-200: 3.2px;
$font-letter-space-100: 1.6px;
$font-letter-sapce-75: 1.2px;
$font-letter-space-50: 0.8px;

$H0-font-size: 60px;

$H1-font-size: 56px;

$H2-font-size: 48px;

$H3-font-size: 36px;

$H4-font-size: 30px;

$H5-font-size: 24px;

$H6-font-size: 21px;

$H7-font-size: 18px;

$H8-font-size: 16px;

$H9-font-size: 15px;

$H10-font-size: 14px;

$H11-font-size: 12px;
