*{
    box-sizing: border-box;
}
$color-LightGray:#ebeae5;
$color-WedgwoodBlue:#8090a0;
$color-Orange:#e28749;
$color-White:#ffffff;
$color-Blue:#4762a5;
$color-Green:#69ce3a;
$color-Gray:#c6c6c6;
$color-Nav-font:#596772;
$color-Nav-Separate:#bf7335;
$color-placeholder:#9b9b9b;
$color-DeepGray:#4c4c4c;
$color-MiddleGray:#6d6d6d;
$color-prompt:#ff5353;
$font-allText:'Microsoft JhengHei';