@import '_style_guild.scss';

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

body {
    margin: 0;
    font-family: $font-Family-A;
}

footer {    
    .site-footer {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        hr {
            border: none;
        }
    
        .footer-logo {
            width: 195px;
            height: 180px;
            margin: auto;
        }
    
        .social-icons {
            a {
                width: 48px;
                height: 48px;
                line-height: 48px;
                border-radius: 50%;
    
                &.line {
                    background-image: url("/img/LINE-ICON.jpg");
                    background-position: center;
                    background-size: contain;
                }
    
                &.facebook {
                    background-image: url("/img/facebook-ICON.jpg");
                    background-position: center;
                    background-size: contain;
                    margin: 0px 20px;
                }
    
                &.instagram {
                    background-image: url("/img/Instagram.ICON.jpg");
                    background-position: center;
                    background-size: contain;
                }
            }
        }
    
        .footer-arrow {
            font-size: 72px;
            color: $color-Apricot;
            position: relative;
        }
    
        .footer-arrow-text {
            font-size: $H7-font-size;
            font-family: "Source Code Pro";
            letter-spacing: $font-letter-space-100;
            position: absolute;
            top: 40px;
            left: 5px;
        }
    
        .common-problems {
            font-size: $H8-font-size;
            letter-spacing: $font-letter-space-200;
            color: $color-IronGray;
    
            .lists {
                border-left: 1px solid $color-WedgwoodBlue;
                padding-right: 10px;
            }
    
            .list {
                cursor: default;
            }
    
            a {
                color: $color-WedgwoodBlue;
            }
    
            ul li {
                padding-left: 10px;
                cursor: default;
            }
        }
    
        .copyright {
            height: 80px;
            background-color: $color-Footer-Background;
            font-size: $H9-font-size;
            font-family: "Source Code Pro";
            letter-spacing: $font-letter-space-100;
            color: $color-White;
        }
    }
}
@media (max-width: 1024px) {
    footer {
        position: relative;

        .site-footer {
            padding-bottom: 0;

            .footer-arrow {
                position: absolute;
                top: -130px;
                right: 10px;
            }

            .common-problems {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 991px) {
    footer {
        .site-footer {
            .common-problems {
                .lists {
                    border: none;
                }
                ul li {
                    width: 155px;
                    height: 32px;
                }

                .common-problem {
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    footer {
        .site-footer {
            padding-bottom: 0;
            
            .footer-logo {
                width: 95px;
                height: 80px;
                margin: auto;
                position: relative;
            }

            .footer-arrow {
                position: absolute;
                top: -110px;
                right: 10px;
            }
    
            .common-problems {
                li {
                    width: 155px;
                    height: 32px;
                }
        
                .lists {
                    border: none;
                }
            }
        }
    }
}
