@import '_style_guild.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

.site-footer {
    background-color: white;
    color: black;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    hr {
        border: none;
    }

    .footer-logo {
        width: 175px;
        height: 175px;
        margin: auto;
    }

    .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;

        li {
            display: inline-block;
        }

        a {
            width: 48px;
            height: 48px;
            line-height: 48px;
            border: 1px solid;
            border-radius: 50%;
            color: white;
            font-size: 24px;
            display: inline-block;

            &.facebook {
                background-color: #4762a5;
            }

            &.line {
                background-color: green;
            }

            &.instagram {
                background-color: #ac2bac;
            }
        }

        &.size-sm a {
            line-height: 34px;
            height: 34px;
            width: 34px;
            font-size: 14px;
        }
    }

    .footer-arrow {
        font-size: 84px;
        color: #f7a269;
        position: relative;
    }

    .footer-top {
        font-size: 27px;
        position: absolute;
        top: 40px;
        left: -1px;
    }

    .common-problem {
        font-size: 21px;
        color: #8090a0;

        .lists {
            border-right: 1px solid;
            padding-right: 10px;
        }

        a {
            color: #8090a0;
        }

        ul li {
            padding-left: 10px;
        }
    }

    .copyright {
        width: 100%;
        height: 81px;
        background-color: #7a7573;
        font-size: 18px;
        color: white;
    }
}

@media (max-width: 991px) {
    .site-footer {
        [class^="col-"] {
            margin-bottom: 30px;
        }

        .copyright,
        .social-icons {
            text-align: center;
        }

        .common-problem {
            .lists {
                border: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;

        .copyright,
        .social-icons {
            text-align: center;
        }
    }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

    .common-problem {
        .lists {
            border: none;
        }
    }
}
