@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  list-style: none;
  margin: 0px;
  font-family: Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

nav {
  height: 113px;
}

main {
  padding-left: 7.4vw;
}

main .swiper .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

main .swiper .swiper-pagination-bullets {
  position: absolute;
  left: 5vw;
  bottom: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visible;
  z-index: 2;
  width: 34px;
}

main .swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  border-radius: 0px;
  margin: 17px 0px 0px 0px;
  background-color: #8090a0;
  opacity: unset;
  position: relative;
}

main .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #e28749;
}

main .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active::before {
  content: "";
  height: 17px;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 1px solid #e28749;
  padding: 17px;
}

main .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc(100vh - 113px);
  background-size: cover;
  background-repeat: no-repeat;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .chatbot {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
}

main .chatbot .chat-icon {
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}

main .chatbot .chat-icon img {
  width: 30px;
  height: 25px;
}

main .chatbot .chatbox {
  width: 358px;
  height: 338px;
  background-color: #ffffff;
  border: 1px solid #e28749;
  border-radius: 15px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 65px;
  right: 35px;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

main .chatbot .chatbox .chat-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .chatbot .chatbox .chat-option img {
  width: 46px;
  height: 46px;
}

main .chatbot .chatbox .chat-option .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .chatbot .chatbox .chat-option .option .more {
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .chatbot .chatbox .chat-option .option .more .dot {
  width: 3px;
  height: 3px;
  background-color: #4c4c4c;
  position: relative;
}

main .chatbot .chatbox .chat-option .option .more .dot::before {
  position: absolute;
  top: 0px;
  left: -5px;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4c4c4c;
}

main .chatbot .chatbox .chat-option .option .more .dot::after {
  position: absolute;
  top: 0px;
  left: 5px;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4c4c4c;
}

main .chatbot .chatbox .chat-option .option .close {
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border-radius: 50%;
  opacity: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .chatbot .chatbox .chat-option .option .close .line {
  width: 13px;
  height: 2px;
  background-color: #4c4c4c;
}

main .chatbot .chatbox .chat-discript p {
  margin: 0px;
}

main .chatbot .chatbox .chat-discript p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

main .chatbot .chatbox .chat-discript p:nth-child(2) {
  font-size: 14px;
  color: #6d6d6d;
  margin-bottom: 18px;
}

main .chatbot .chatbox .chat-discript p:nth-child(3) {
  font-size: 14px;
  font-weight: 500;
}

main .chatbot .chatbox .chat-button .facebook-button {
  width: 318px;
  height: 52px;
  background-color: #4762a5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

main .chatbot .chatbox .chat-button .facebook-button .facebook-icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
}

main .chatbot .chatbox .chat-button .facebook-button .facebook-icon i {
  font-size: 22px;
  color: #4762a5;
}

main .chatbot .chatbox .chat-button .facebook-button p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
}

main .chatbot .chatbox .chat-button .line-button {
  width: 318px;
  height: 52px;
  background-color: #69ce3a;
  border-radius: 10px;
  padding: 0px 37px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .chatbot .chatbox .chat-button .line-button .line-icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  margin-right: 45px;
}

main .chatbot .chatbox .chat-button .line-button .line-icon span {
  font-size: 13px;
  color: #69ce3a;
}

main .chatbot .chatbox .chat-button .line-button p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
}

main .we-story {
  height: 100vh;
  background-color: #ebeae5;
  position: relative;
}

main .we-story .float {
  position: absolute;
  top: 100px;
  left: -8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .we-story .float img {
  width: 974px;
  height: 588px;
  position: relative;
  z-index: 1;
}

main .we-story .float .scissors {
  position: absolute;
  top: 360px;
  left: 85px;
}

main .we-story .float .scissors img {
  height: 800px;
}

main .we-story .float .story-discript {
  margin-left: 4vw;
}

main .we-story .float .story-discript .subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #e28749;
  position: relative;
  margin-bottom: 50px;
}

main .we-story .float .story-discript .subtitle:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 80px;
  height: 1px;
  background-color: #e28749;
}

main .we-story .float .story-discript .title {
  font-size: 36px;
  font-weight: bold;
  color: #8090a0;
  margin-bottom: 45px;
  position: relative;
}

main .we-story .float .story-discript .title:before {
  content: "";
  width: 100px;
  height: 1px;
  top: 20px;
  left: -110px;
  background-color: #8090a0;
  position: absolute;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
  z-index: 0;
}

main .we-story .float .story-discript .content {
  font-size: 18px;
  color: #444444;
  font-weight: normal;
  letter-spacing: 0.2vw;
}

main .we-story .float .story-discript .content .preamble {
  margin-bottom: 30px;
  position: relative;
}

main .we-story .float .story-discript .content .preamble:after {
  content: "";
  width: 200px;
  height: 1px;
  top: 171px;
  left: 340px;
  background-color: #8090a0;
  position: absolute;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
  z-index: 0;
}

main .we-story .float .story-discript .content .main-body {
  margin-bottom: 30px;
}

main .shoemaking {
  height: 100vh;
  background-color: #ebeae5;
}
/*# sourceMappingURL=index.css.map */