@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px; 
}
nav{
    height: 162px;
}
main{
    padding-left: 7.4vw;
    .swiper{
        .swiper-container {
            width: 100%;
            height: 100%;
            position: relative;
        }
        //swiper bullet
        .swiper-pagination-bullets{
            position: absolute;
            left: 5vw;
            bottom: 1vw;
            display: flex;
            flex-direction: column;
            overflow: visible;
            z-index: 2;
            width: 34px;
            .swiper-pagination-bullet{
                width: 17px;
                height: 17px;
                border-radius: 0px;
                margin:17px 0px 0px 0px;
                background-color: $color-WedgwoodBlue;
                opacity: unset;
                position: relative;
                
            }
            .swiper-pagination-bullet-active{
                background-color: $color-Orange;
                
                &::before{
                    content:"";
                    height: 17px;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    border: 1px solid $color-Orange;
                    padding: 17px;
                }
               
            }
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            height: calc(100vh - 162px);
        
            background-size: cover;
            background-repeat: no-repeat;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            transition: 0.5s;
        }
    }
    
}