@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
    scroll-behavior: smooth;
    &:focus{
        outline: none;
    }
}
nav{
    .options{
        background-color: $color-LightGray;
    }
    .twd-lang{
        background-color: $color-LightGray;
    }
}
main{
    min-height: 969px;
    display: flex;
    justify-content: flex-end;
    .shoes-sketch{
        position: relative;
        overflow: visible;
        img{
            position: absolute;
            top: 340px;
            left: -320px;
            width: 700px;
            z-index: 1;
        }
    }
    .main-container{
        max-width: calc(100% - 146px);
        width: 100%;
        background: $color-LightGray;
        padding-top: 150px;
        padding-left: 2.6vw;
        position: relative;
        overflow: hidden;
        .shoes-article{
            display: flex;
            .article-container{
                .article-title{
                    p{
                        font-size: $H3-font-size;
                        font-weight: $font-Weight-B;
                        letter-spacing: $font-letter-space-200;
                        color:$color-Product-Detail-Title;
                    } 
                }
                .article-content{
                    max-width: 737px;
                    p{
                        font-size: $H10-font-size;
                        letter-spacing: $font-letter-space-100;
                        line-height: 26px;
                        color: $color-IronGray;
                    }
                }
            }
            .decoration-line{
                position: relative;
                img{
                    position: absolute;
                    top: 25px;
                    left: 20px;
                    width:1000px;
                }
            }
        }
        .shoes-img-display{
            margin-top: 40px;
            .shoes-article-swiper{                  
                .inner-content{
                    height: 384px;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 60px;
                    //文字的swiper
                    .development-process-content{
                        max-width: 375px;
                        flex: 0 0 50%;
                        .swiper-container{
                            width: 600px;
                            margin-right: 0px;
                            .swiper-wrapper{
                                .swiper-slide{
                                    .development-process-title{
                                        margin-bottom: 20px;
                                        p{
                                            display: inline-block;
                                            color: $color-Evaluation-Star;
                                            font-size: $H7-font-size;
                                            border-bottom: 1px solid $color-Evaluation-Star;
                                        }
                                        h2{                             
                                            font-size: $H3-font-size;
                                            font-weight: $font-Weight-B;
                                            margin:0;                  
                                        }
                                    }
                                    .development-process-list{
                                        margin-bottom: 20px;
                                        p{
                                            color: $color-Product-Detail-Title;
                                            font-size: $H7-font-size;
                                            font-weight: $font-Weight-B;
                                            letter-spacing: $font-letter-space-100;
                                            line-height: 30px;
                                            margin: 0;                                                    
                                        }      
                                    }
                                    .development-process-text{
                                        z-index: 5;
                                        button{
                                            width: 120px;
                                            height: 50px;
                                            border-radius: 8px;
                                            border: 1px solid $color-WedgwoodBlue;
                                            font-size: $H7-font-size;
                                            color: $color-IronGray;
                                            background-color: unset;
                                            margin-top: 119px;
                                            line-height: 26px;
                                            letter-spacing: $font-letter-space-50;
                                            &:hover{
                                                color: $color-White;
                                                background-color: $color-Evaluation-Star;
                                                border: none;
                                            }
                                        }
                                    }
                                }
                            }                                                                    
                        }                                
                    }
                    //圖片的swiper
                    .development-process-swiper{
                        flex: 0 0 55%;
                        padding-left: 20px;
                        position: relative;
                        .swiper-container {
                            width: 865px;
                            height: 384px;
                            margin-bottom: 50px;
                            margin-right: 0px;
                        }
                        .swiper-slide {
                            text-align: center;
                            font-size: 18px;
                            background: #fff;
                            width: 664px;
                            /* Center slide text vertically */
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            -webkit-align-items: center;
                            align-items: center;
                        }
                        .swiper-slide img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: -179px;
                            width: 300px;
                            height: 384px;
                            background-color: $color-Parallelogram;
                            transform: skewX(-40deg);
                            z-index: 1;
                            opacity: 0.5;
                        }
                    }
                }
                .swiper-step{
                    width: 100%;                            
                    display: flex;
                    justify-content: flex-end;
                    .swiper-step-button{
                        flex:0 0 50%;
                        display: flex;
                        justify-content: space-between;
                        .pagination-next{
                            position: relative;
                            flex: 0 0 76%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .swiper-pagination-bullet{
                                position: relative;
                                z-index: 2;
                                background: $color-IronGray;
                                border-radius: 0px;
                                opacity: 1;
                                width: 15px;
                                height: 15px;
                                p{
                                    position: absolute;
                                    top:20px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    white-space:nowrap;                                          
                                }
                                &.swiper-pagination-bullet-active{
                                    color:$color-Evaluation-Star;
                                    background: $color-Evaluation-Star;
                                }                                        
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translate(0,-50%);                                        
                                width: 100%;
                                height: 2px;                       
                                background: $color-IronGray;
                            }
                        }
                        .button-next{
                            text-align: center;
                            flex: 0 0 22%;                                    
                        }
                    }
                }
            }
        }
    }
}