@import "_style_guild.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

// 大平板尺寸
@mixin tablet {
    @media (max-width: 1350px) {
        @content;
    }
}

@mixin elevenforty {
    @media (max-width: 1140px) {
        @content;
    }
}
// 小平板尺寸
@mixin sm-tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
//試穿資訊換版
@mixin try-on {
    @media (max-width: 991px) {
        @content;
    }
}
    
//大手機尺寸
@mixin bg-phone {
    @media (max-width: 768px) {
        @content;
    }
}
//商品卡片換版
@mixin single-cart {
    @media (max-width: 660px) {
        @content;
    }
}
// 小手機尺寸
@mixin sm-phone {
    @media (max-width: 520px) {
        @content;
    }
}
// iphone 5s
@mixin iphone-5s {
    @media (max-width: 320px) {
        @content;
    }
}

*{
    list-style: none;   
    margin: 0px; 
    font-family: Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

main {
    .member-page {
        max-width: 100%;
        height: 100%;
        background-color: $color-LightGray;
        
        .page-title {
            font-size: 72px;
            color: $color-White;
        }

        .member-lists {
            @include sm-tablet() {
                display: flex;
                flex-direction: column;
            }

            .list-group {
                @include sm-tablet() {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .list-group-item {
                    width: 170px;
                    height: 60px;
                    background-color: $color-Footer-Background;
                    font-size: $H7-font-size;
                    color: $color-LightGray;
                    letter-spacing: $font-letter-space-200;
                    border-bottom: 1px solid black;
                    outline: none;
                    z-index: 2;

                    &.active {
                        width: 205px;
                        background-color: $color-White;
                        color: $color-WedgwoodBlue;
                        border-color: $color-SkyBlue;
                        border-right: 18px solid $color-SkyBlue;
                        margin-left: -18px;
                        z-index: 2;

                        @include sm-tablet() {
                            height: 78px;
                            border-right: none;
                            border-bottom: 18px solid $color-SkyBlue;
                            z-index: 2;
                        }
                    }

                    &:first-child {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }

            .tab-content {
                .tab-pane {
                    .member-data {
                        height: 100%;
                        background-color: $color-White;
                        border: 1px solid $color-Apricot;
                        margin-left: -17px;

                        @include tablet() {
                            width: 100%;
                        }

                        @include elevenforty() {
                            width: 95%;
                        }

                        @include sm-tablet() {
                            width: 100%;
                            margin-left: 0;
                            margin-top: -17px;
                        }

                        .member-container {
                            width: 95%;
                            border-bottom: 2px solid $color-WedgwoodBlue;
                            font-family: $font-Family-A;
                            
                            .data-block1 {
                                .fa-user {
                                    font-size: $H8-font-size;
                                    color: $color-WedgwoodBlue;
                                }
                    
                                .user-id {
                                    font-size: $H10-font-size;
                                    color: $color-WedgwoodBlue;
                                    margin: 0px 16px;
                                }
                    
                                .general-member {
                                    width: 80px;
                                    background-color: $color-Apricot;
                                    font-size: $H9-font-size;
                                    border-radius: 10px;
                                }
                            }
    
                            .data-block2 {
                                color: $color-MoreButton-hover;
                                
                                .fa-pen {
                                    font-size: $H7-font-size;
                                }
                
                                .user-edit {
                                    font-size: $H9-font-size;
                                }
                            }
    
                            .data-block3 {
                                .input-data {
                                    width: 85%;
                                    font-size: $H7-font-size;
                                    color: $color-WedgwoodBlue;

                                    @include sm-tablet() {
                                        display: flex;
                                        flex-direction: column; 
                                    }
                                    
                                    .input-left {
                                        @include sm-tablet() {
                                            margin: auto;
                                            margin-top: 30px;
                                            margin-bottom: 20px;
                                        }

                                        input {
                                            outline: none;
                                            border: none;
                                            border-bottom: 1px solid $color-WedgwoodBlue;
                                        }
                                    }

                                    .input-right {
                                        @include sm-tablet() {
                                            width: 324px;
                                            margin: auto;
                                        }

                                        .contact {
                                            .address-data {
                                                .city-block {
                                                    .county,
                                                    .zipcode {
                                                        width: 65px;
                                                        height: 32px;
                                                        font-size: $H10-font-size;
                                                        color: $color-WedgwoodBlue;
                                                        border: 1px solid $color-WedgwoodBlue;
                                                        outline: none;
                                                    }
                                
                                                    .district {
                                                        width: 65px;
                                                        height: 32px;
                                                        font-size: $H10-font-size;
                                                        color: $color-WedgwoodBlue;
                                                        border: 1px solid $color-WedgwoodBlue;
                                                        outline: none;
                                                        margin: 0px 5px;
                                                    }
                                                }

                                                .detail-address {
                                                    width: 215px;
                                                    height: 32px;
                                                    font-size: $H10-font-size;
                                                    color: $color-WedgwoodBlue;
                                                    border: 1px solid $color-WedgwoodBlue;
                                                    outline: none;
                                                }
                                            }
                                        }

                                        .subscribe {
                                            @include sm-tablet() {
                                                margin-top: 40px;
                                            }
                                            .form-check-input {
                                                margin: 4px 0 0 5px;
                                                width: 16px;
                                                height: 16px;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .data-block4 {
                                button {
                                    height: 40px;
                                    border: 1px solid $color-MoreButton;
                                    font-size: 19.5px;
                                    color: $color-IronGray;
                                    letter-spacing: $font-letter-space-200;
                                    border: 1px solid $color-MoreButton;
        
                                    &:hover {
                                        background-color: $color-MoreButton-hover;
                                        color: $color-White;
                                    }
                                }
                            }
                        }

                        .data-block5 {
                            .order-title {
                                font-size: 29.25px;
                                color: $color-WedgwoodBlue;
                            }

                            .order-content {
                                .order-container {
                                    width: 90%;
                                    .order-lists {
                                        font-size: 14px;

                                        .list {
                                            width: 106.78px;
                                        }

                                        .number, .invoice, .information {
                                            background-color: $color-MoreButton;
                                            color: $color-White;
                                        }
                                        
                                        .list-block1 {
                                            height: 30px;
                                            line-height: 30px;
                                            background-color: $color-Footer-Background;
                                            color: $color-White;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
