@import "_style_guild.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

// 大平板尺寸
@mixin tablet {
    @media (max-width: 1350px) {
        @content;
    }
}

// 小平板尺寸
@mixin sm-tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
//試穿資訊換版
@mixin try-on {
    @media (max-width: 991px) {
        @content;
    }
}

//大手機尺寸
@mixin bg-phone {
    @media (max-width: 768px) {
        @content;
    }
}
//商品卡片換版
@mixin single-cart {
    @media (max-width: 660px) {
        @content;
    }
}
// 小手機尺寸
@mixin sm-phone {
    @media (max-width: 520px) {
        @content;
    }
}

@mixin four-fifty {
    @media (max-width: 450px) {
        @content;
    }
}

// iphone 5s
@mixin iphone-5s {
    @media (max-width: 320px) {
        @content;
    }
}

* {
    list-style: none;
    margin: 0px;
    font-family: Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

main {
    .member-page {
        width: 100%;
        height: 100%;
        background-color: $color-LightGray;

        .page-title {
            font-size: 72px;
            color: $color-White;

            @include sm-phone() {
                font-size: $H2-font-size;
            }
        }

        .member-lists {
            @include try-on() {
                display: flex;
                flex-direction: column;
            }

            .list-group {
                @include try-on() {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: -2px;
                }

                .list-group-item {
                    width: 170px;
                    height: 60px;
                    background-color: $color-Footer-Background;
                    font-size: $H7-font-size;
                    color: $color-LightGray;
                    letter-spacing: $font-letter-space-200;
                    font-weight: bold;
                    border-bottom: 1px solid black;
                    outline: none;
                    z-index: 2;                

                    @include try-on() {
                        max-width: 205px;
                        width: 100%;                        
                        flex: 1;
                        font-size: $H8-font-size;
                        white-space: nowrap;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid black;
                        border-bottom: none;
                    }

                    @include bg-phone() {
                        font-size: $H10-font-size;                        
                    }

                    @include sm-phone() {
                        font-size: $H11-font-size;
                    }
                    @include four-fifty() {
                        display: flex;
                        flex-direction: column;
                    }

                    &.active {
                        width: 205px;
                        background-color: $color-White;
                        color: $color-WedgwoodBlue;
                        border-color: $color-SkyBlue;
                        border-right: 18px solid $color-SkyBlue;
                        margin-left: -18px;
                        z-index: 2;
                        font-size: $H6-font-size;

                        @include try-on() {
                            max-width: 205px;
                            width: 100%;
                            height: 78px;
                            border-right: none;
                            border-bottom: 18px solid $color-SkyBlue;
                            z-index: 2;
                            margin-left: 0;                            
                        }

                        @include bg-phone() {
                            font-size: $H7-font-size;
                        }

                        @include sm-phone() {
                            font-size: $H9-font-size;
                        }
                    }

                    &:first-child {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }                    
                }
            }

            .tab-content {
                max-width: 1140px;
                width: 100%;

                .tab-pane {
                    .member-data {
                        height: 100%;
                        background-color: $color-White;
                        border: 1px solid $color-Apricot;
                        margin-left: -17px;
                        margin-bottom: 72px;

                        @include try-on() {
                            width: 100%;
                            margin-left: 0;
                            margin-top: -17px;
                        }

                        .member-container {
                            width: 95%;
                            border-bottom: 1px solid $color-WedgwoodBlue;
                            @include sm-tablet() {
                                margin-top: 72px;
                            }

                            .data-block1 {
                                .fa-user {
                                    font-size: $H8-font-size;
                                    color: $color-WedgwoodBlue;
                                }

                                .user-id {
                                    font-size: $H10-font-size;
                                    color: $color-WedgwoodBlue;
                                    margin: 0px 16px;
                                }

                                .general-member {
                                    width: 80px;
                                    background-color: $color-Apricot;
                                    font-size: $H9-font-size;
                                    color: $color-White;
                                    border-radius: 10px;
                                }
                            }

                            .data-block2 {
                                width: 120px;
                                color: $color-MoreButton-hover;
                                cursor: pointer;
                                margin: auto;

                                .fa-pen {
                                    font-size: $H7-font-size;
                                }

                                .user-edit {
                                    font-size: $H9-font-size;
                                }
                            }

                            .data-block3 {
                                display: flex;
                                .input-data {
                                    max-width: 830px;
                                    width: 100%;
                                    margin: 0 auto;
                                    margin-top: 75px;                                    
                                    font-size: $H7-font-size;
                                    color: $color-WedgwoodBlue;
                                    display: flex;
                                    justify-content: space-between;                                    

                                    @include sm-tablet() {
                                        flex-direction: column;
                                        width: unset;                                        
                                        margin-top: 25px;
                                    }

                                    .input-left {
                                        @include sm-tablet() {
                                            margin-top: 30px;
                                            margin-bottom: 20px;
                                        }

                                        input {
                                            outline: none;
                                            border: none;
                                            border-bottom: 1px solid $color-WedgwoodBlue;
                                            
                                        }

                                        .input1 {                                            
                                            &:not(:last-child){
                                                padding-bottom: 15px;
                                            }
                                            @include four-fifty() {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                            }
                                        }

                                        .title {
                                            width: 100px;
                                            letter-spacing: $font-letter-space-300;
                                            @include four-fifty() {
                                                width: 100%;
                                                text-align: center;
                                            }
                                        }

                                        .title1 {
                                            @include four-fifty() {
                                                margin-top: 24px;
                                            }
                                        }

                                        .content {
                                            margin-left: 15px;
                                            font-size: $H9-font-size;
                                            width: 230px;
                                            @include four-fifty() {
                                                margin-left: 0px;
                                            }
                                        }

                                        .content::-webkit-input-placeholder {
                                            @include four-fifty() {
                                                text-align: center;
                                            }
                                        }
                                    }

                                    .input-right {                                        
                                        @include four-fifty() {
                                            width: 259px;
                                        }

                                        .contact {
                                            @include four-fifty() {
                                                display: flex;
                                                flex-direction: column;
                                            }

                                            .title5 {
                                                letter-spacing: $font-letter-space-300;
                                                width: 100px;
                                                @include four-fifty() {
                                                    width: unset;
                                                    text-align: center;
                                                }
                                            }

                                            .address-data {
                                                margin-left: 15px;
                                                // @include sm-tablet() {
                                                //     padding-left: 12px;
                                                // }

                                                @include four-fifty() {
                                                    padding-left: 0;
                                                }

                                                .city-block {
                                                    select{
                                                        appearance: none;  
                                                        background: white;                                                  
                                                        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                                                        background-repeat: no-repeat;
                                                        background-position-x: 100%;
                                                        background-position-y: 2px;
                                                        padding-left: 5px;
                                                        padding-right: 20px;
                                                    }
                                                    .county,
                                                    .zipcode {
                                                        width: 70px;
                                                        height: 32px;
                                                        font-size: $H10-font-size;
                                                        color: $color-WedgwoodBlue;
                                                        border: 1px solid $color-WedgwoodBlue;
                                                        outline: none;
                                                    }

                                                    .district {
                                                        width: 70px;
                                                        height: 32px;
                                                        font-size: $H10-font-size;
                                                        color: $color-WedgwoodBlue;
                                                        border: 1px solid $color-WedgwoodBlue;
                                                        outline: none;
                                                        margin: 0px 5px;
                                                    }
                                                }

                                                .detail-address {
                                                    width: 230px;
                                                    height: 32px;
                                                    font-size: $H10-font-size;
                                                    color: $color-WedgwoodBlue;
                                                    border: 1px solid $color-WedgwoodBlue;
                                                    outline: none;
                                                    padding-left: 4px;
                                                }
                                            }
                                        }

                                        .subscribe {
                                            @include sm-tablet() {
                                                margin-top: 40px;
                                            }

                                            @include four-fifty() {
                                                text-align: center;
                                            }

                                            .title6 {
                                                display: block;
                                                position: relative;

                                                input {
                                                    display: none;
                                                }

                                                .checkmark {
                                                    position: absolute;
                                                    top: 10%;
                                                    left: 31%;
                                                    height: 18px;
                                                    width: 18px;
                                                    border: 1px solid $color-WedgwoodBlue;

                                                    @include sm-tablet() {
                                                        position: absolute;
                                                        top: 10%;
                                                        left: 30%;
                                                    }

                                                    @include four-fifty() {
                                                        position: absolute;
                                                        left: 70%;
                                                    }
                                                }

                                                input[type=checkbox]:checked ~ .checkmark {
                                                    background-color: $color-WedgwoodBlue;
                                                    animation: wiggle .4s ease;
                                                }
                                                
                                                input[type=checkbox]:checked ~ .checkmark:after {
                                                    content: "";
                                                    display: block;
                                                }

                                                .checkmark:after {
                                                    width: 7px;
                                                    height: 12px;
                                                    border: solid white;
                                                    border-width: 0 3px 3px 0;
                                                    transform: rotate(45deg);
                                                    position: absolute;
                                                    left: calc(50% - 3.5px);
                                                    top: 1px;
                                                }
                                                @keyframes wiggle {
                                                    from {
                                                        -webkit-transform: scale(1, 1);
                                                        transform: scale(1, 1);
                                                    }
                                                    30% {
                                                        -webkit-transform: scale(1.25, .75);
                                                        transform: scale(1.25, .75);
                                                    }
                                                    40% {
                                                        -webkit-transform: scale(.75, 1.25);
                                                        transform: scale(.75, 1.25);
                                                    }
                                                    50% {
                                                        -webkit-transform: scale(1.15, .85);
                                                        transform: scale(1.15, .85);
                                                    }
                                                    65% {
                                                        -webkit-transform: scale(.95, 1.05);
                                                        transform: scale(.95, 1.05);
                                                    }
                                                    75% {
                                                        -webkit-transform: scale(1.05, .95);
                                                        transform: scale(1.05, .95);
                                                    }
                                                    to {
                                                        -webkit-transform: scale(1, 1);
                                                        transform: scale(1, 1);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                            .data-block4 {
                                height: 40px;
                                margin: 40px 0;

                                .btn-groups {
                                    display: flex;
                                    justify-content: center;
                                    display: none;                                    

                                    button {
                                        height: 40px;                                        
                                        font-size: $H7-font-size;
                                        color: $color-IronGray;                                        
                                        letter-spacing: $font-letter-space-200;
                                        border: 1px solid $color-MoreButton;
                                        border-radius: 10px;

                                        &:hover {
                                            background-color: $color-MoreButton-hover;
                                            color: $color-White;
                                        }
                                    }
                                }
                            }
                        }

                        .data-block5 {
                            margin-top: 30px;
                            .order-title {
                                font-size: 29.25px;                                
                                color: $color-WedgwoodBlue;
                            }
                        }

                        .data-block6 {
                            @include sm-tablet(){

                            }
                            .order-content {
                                width: 95%;                                
                                margin: 25px auto;
                                @include sm-tablet(){
                                    width: 100%;
                                    margin: unset;
                                    margin-top: 25px;
                                }
                                .order-lists {
                                    width: 100%;
                                    padding: 0 1.5vw;
                                    font-size: 14px;
                                    @include sm-tablet(){
                                        padding: unset;
                                    }
                                    @include try-on() {
                                        margin: auto;
                                    }

                                    @include sm-phone() {
                                        font-size: 12px;
                                    }

                                    .list-block1 {
                                        width: 100%;
                                        height: 30px;
                                        line-height: 30px;
                                        color: $color-White;                                        
                                        padding: 0 20px;
                                        background-color: $color-Footer-Background;

                                        @include try-on() {
                                            display: flex;
                                            flex-direction: column;
                                            padding: 0 10px;
                                        }                                        

                                        .block1-l {
                                            width: calc((100% / 9) * 4);                                            

                                            @include try-on() {
                                                width: 100%;
                                            }

                                            li {
                                                flex: 0 0 25%;
                                            }
                                        }

                                        .block1-r {
                                            width: calc((100% / 9) * 5);                                            

                                            @include try-on() {
                                                width: 100%;
                                            }

                                            li {
                                                flex: 0 0 20%;

                                                @include try-on() {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }

                                    .list-block {
                                        width: 100%;                                        
                                        padding: 0 20px;
                                        margin: 20px 0;
                                        display: flex;
                                        @include try-on() {                                                                                        
                                            flex-direction: column;
                                            padding: unset;
                                            
                                        }

                                        li {
                                            @include sm-tablet() {
                                                white-space: nowrap;
                                            }
                                        }

                                        .block-l {
                                            width: calc((100% / 9) * 4);

                                            @include try-on() {
                                                width: 100%;
                                                padding: 20px 10px;
                                            }

                                            .number {
                                                background-color: $color-MoreButton;
                                                color: $color-White;
                                            }

                                            li {
                                                white-space: nowrap;
                                                flex: 0 0 25%;
                                            }
                                        }

                                        .block-r {
                                            width: calc((100% / 9) * 5);

                                            @include try-on() {
                                                width: 100%;
                                            }

                                            li {
                                                flex: 0 0 20%;

                                                @include try-on() {
                                                    display: none;
                                                }
                                            }
                                            .view{
                                                padding: 0 3px;
                                                .invoice,
                                                .information {
                                                    width: 84px;
                                                    margin: auto;
                                                    background-color: $color-MoreButton;
                                                    color: $color-White;
                                                }
                                            }
                                            
                                        }

                                        .ttz {
                                            width: 100%;
                                            display: none;
                                            
                                            @include try-on()  {
                                                display: flex;
                                                flex-direction: column;
                                            }

                                            .click-toggle{
                                                padding: 0;
                                                

                                                @include try-on() {
                                                    border: none;
                                                    background-color: $color-LightGray;
                                                }

    
                                                .top, .mid, .bot{
                                                    margin: 0;
                                                    padding: 0;                                                    
                                                }
    
                                                .top {
                                                    cursor: pointer;
                                                    .plus, .minus {
                                                        width: 40px;
                                                        height: 40px;
                                                        font-size: 24px;
                                                        color: $color-MoreButton;
                                                        line-height: 40px;
                                                    }
                                                    .plus{                                                        
                                                        display: none;
                                                        
                                                    }
                                                    .minus{                                                        
                                                        display: block;
                                                        
                                                    }
                                                    .order-detail {
                                                        font-size: 18px;
                                                        line-height: 40px;
                                                    }
                                                    &.collapsed{
                                                        .plus{
                                                            display: block;
                                                        }
                                                        .minus{
                                                            display: none;                                                            
                                                        }
                                                    }
                                                }
    
                                                .square {                                                    
                                                    .mid,
                                                    .bot {
                                                        li {
                                                            flex: 0 0 20%;
                                                            display: flex;
                                                            justify-content: center;
                                                            align-items: center;
                                                        }
                                                    }

                                                    .bot {
                                                        padding: 15px 0;
                
                                                        .invoice1,
                                                        .information1 {                                                            
                                                            padding: 5px 7px;
                                                            background-color: $color-MoreButton;
                                                            color: $color-White;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .data-block7 {
                            button {
                                background-color: #ffffff;
                                color: #a0a0a0;
                                border: none;

                                &:hover {
                                    color: #f7a269;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
