@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  list-style: none;
  margin: 0px;
  font-family: Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 113px;
  width: 100%;
  padding-left: 7.4vw;
}

nav .nav-link {
  padding: unset;
}

nav .logo {
  width: 160px;
  z-index: 2;
}

nav .logo img {
  width: 160px;
  height: 148px;
}

nav .options {
  width: 90%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .options .option {
  width: 70%;
}

nav .options .option ul {
  margin-bottom: 25px;
  font-size: 15px;
  letter-spacing: 1.6px;
}

nav .options .option ul a {
  color: #596772;
}

nav .options .option ul a:hover {
  text-decoration: none;
}

nav .options .option ul li {
  padding: 0px 1.7vw;
  border-right: 1px solid #e8d0c1;
}

nav .options .option ul li:nth-last-child(2) {
  border: 0px;
}

nav .options .option ul .more-option {
  display: none;
}

nav .options .input-cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 80px 20px 0px;
}

nav .options .input-cart i {
  font-size: 20px;
  color: #8090a0;
  cursor: pointer;
}

nav .options .input-cart .search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .options .input-cart .search label {
  margin: 0px;
  height: 16px;
}

nav .options .input-cart input {
  border: none;
  border-bottom: 1px solid #8090a0;
  width: 0px;
  padding: 0px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

nav .options .input-cart input:hover {
  width: 147px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

nav .options .input-cart input:focus {
  outline: none;
}

nav .options .input-cart input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: 3.2px;
}

nav .options .input-cart .cart {
  position: relative;
}

nav .options .input-cart .cart .cart-number {
  width: 24px;
  height: 15px;
  font-size: 14px;
  background-color: #ff5353;
  border-radius: 8px;
  position: absolute;
  left: 28px;
  top: -6px;
  z-index: 99;
  text-align: center;
  color: #ffffff;
  line-height: 15px;
}

@media (max-width: 1550px) {
  nav .options ul li:nth-child(n+4) {
    display: none;
  }
  nav .options ul li:nth-last-child() {
    border: 0px;
  }
  nav .options ul .more-option {
    display: block;
  }
}

nav .twd-lang {
  text-align: center;
  line-height: 113px;
}

nav .twd-lang .twd {
  width: 97px;
  background-color: #8090a0;
  margin-right: 4px;
  color: #8090a0;
}

nav .twd-lang .twd a {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.6px;
}

nav .twd-lang .lang {
  width: 97px;
  background-color: #8090a0;
}

nav .twd-lang .lang a {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.6px;
}
/*# sourceMappingURL=nav.css.map */