@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px; 
    font-family: Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}
@mixin notebook {
    @media(max-width:1550px){
        @content;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    height: 113px;
    width: 100%;
    padding-left: 7.4vw;
    .nav-link{
        padding: unset;
    }
    .logo{
        width: 160px;
        z-index: 2;
        img{
            width: 160px;
            height: 148px;
        }
    }
    .options{
        width: 90%;
        align-items: flex-end;
        justify-content: space-between;
        .option{
            width: 70%;
            ul{
                margin-bottom: 25px;
                font-size:15px;
                letter-spacing: $font-letter-space-100;
                a{
                    color:$color-Nav-font;
                }
                a:hover{
                    text-decoration:none;
                }
                li{
                    padding:0px 1.7vw;
                    border-right: 1px solid $color-Nav-Separate;
                    &:nth-last-child(2){
                        border: 0px;
                    }
                }
                .more-option{
                    display: none;
                }
            }
        }
        
        .input-cart{
            align-items: center;
            margin:0px 80px 20px 0px;

            i{
                font-size: 20px;
                color: $color-WedgwoodBlue;
                cursor: pointer;
            }
            .search{
                align-items: center;
                label{
                    margin: 0px;
                    height: 16px;
                }
            }
            input{
                border: none;
                border-bottom: 1px solid $color-WedgwoodBlue;
                width:0px;
                padding: 0px;
                transition: 0.7s;
                transition-delay: 1s;
                &:hover{
                    width:147px;
                    transition: 0.7s;  
                }
                &:focus {
                   outline: none;
                  }
            }
            input::-webkit-input-placeholder { 
                color: $color-placeholder;
                font-size: $H10-font-size; 
                letter-spacing: $font-letter-space-200;
            }
            .cart{
                position: relative;
               .cart-number{
                    width: 24px;
                    height: 15px;
                    font-size: 14px;
                    background-color: $color-prompt;
                    border-radius: 8px;
                    position: absolute;
                    left: 28px;
                    top: -6px;
                    z-index: 99;
                    text-align: center;
                    color:$color-White ;
                    line-height: 15px;
                }
            }
        }
        
    }
    @include notebook(){
        .options{
            ul{
                li:nth-child(n+4){
                    display: none;
                }
                li:nth-last-child(){
                    border:0px;
                }
                .more-option{
                    display: block;
                }
            }
        }
    }
    .twd-lang{
        text-align: center;
        line-height: 113px;
        .twd{
            width: 97px; 
            background-color: $color-WedgwoodBlue;
            margin-right: 4px;
            color: $color-WedgwoodBlue;
            a{
                color:$color-White;
                font-size: $H9-font-size;
                letter-spacing: $font-letter-space-100;
            }
        }
        .lang{
            width: 97px;
            background-color: $color-WedgwoodBlue;
            a{
                color: $color-White;
                font-size: $H9-font-size;
                letter-spacing: $font-letter-space-100;
            }
            
        }
    }
}



