@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px; 
}
@mixin notebook {
    @media(max-width:1890px){
        @content;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    height: 162px;
    width: 100%;
    padding-left: 7.4vw;
    .nav-link{
        padding: unset;
    }
    .logo{
        width: 202px;
        z-index: 2;
        img{
            width: 202px;
        }
    }
    .options{
        width: 90%;
        align-items: flex-end;
        justify-content: space-between;
        .option{
            width: 70%;
            ul{
                margin-bottom: 25px;
                font-size:21px;
                a{
                    color:$color-Nav-font;
                }
                a:hover{
                    text-decoration:none;
                }
                li{
                    padding:0px 1.7vw;
                    border-right: 1px solid $color-Nav-Separate;
                    &:nth-last-child(2){
                        border: 0px;
                    }
                }
                .more-option{
                    display: none;
                }
            }
        }
        
        .input-cart{
            align-items: center;
            margin:0px 80px 20px 0px;

            i{
                font-size: 21.6px;
                color: $color-WedgwoodBlue;
                cursor: pointer;
            }
            .search{
                align-items: center;
                label{
                    margin: 0px;
                    height: 21px;
                }
            }
            input{
                border: none;
                border-bottom: 1px solid $color-WedgwoodBlue;
                width:147px;
                padding: 0px;
            }
            input::-webkit-input-placeholder { 
                color: $color-placeholder;
                font-size: 14px; 
            }
            .cart{
                position: relative;
               .cart-number{
                    width: 29px;
                    height: 20px;
                    background-color: $color-prompt;
                    border-radius: 8px;
                    position: absolute;
                    left: 32px;
                    top: -10px;
                    z-index: 99;
                    text-align: center;
                    color:$color-White ;
                    line-height: 20px;
                }
            }
        }
        
    }
    @include notebook(){
        .options{
            ul{
                li:nth-child(n+4){
                    display: none;
                }
                li:nth-last-child(){
                    border:0px;
                }
                .more-option{
                    display: block;
                }
            }
        }
    }
    .twd-lang{
        text-align: center;
        line-height: 162px;
        .twd{
            width: 118px; 
            background-color: $color-WedgwoodBlue;
            margin-right: 4px;
            color: $color-WedgwoodBlue;
            a{
                color:$color-White;
                font-size: 21px;
            }
        }
        .lang{
            width: 118px;
            background-color: $color-WedgwoodBlue;
            a{
                color: $color-White;
                font-size: 21px;
            }
            
        }
    }
}
main{
    padding-left: 7.4vw;
    .swiper{
        .swiper-container {
            width: 100%;
            height: 100%;
            position: relative;
        }
        //swiper bullet
        .swiper-pagination-bullets{
            position: absolute;
            left: 5vw;
            bottom: 1vw;
            display: flex;
            flex-direction: column;
            overflow: visible;
            z-index: 2;
            width: 34px;
            .swiper-pagination-bullet{
                width: 17px;
                height: 17px;
                border-radius: 0px;
                margin:17px 0px 0px 0px;
                background-color: $color-WedgwoodBlue;
                opacity: unset;
                position: relative;
                
            }
            .swiper-pagination-bullet-active{
                background-color: $color-Orange;
                
                &::before{
                    content:"";
                    height: 17px;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    border: 1px solid $color-Orange;
                    padding: 17px;
                }
               
            }
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            height: calc(100vh - 162px);
        
            background-size: cover;
            background-repeat: no-repeat;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            transition: 0.5s;
        }
    }
    
}


