@import "_style_guild.scss";

body {
    font-family: $font-Family-A;
    min-height: 100vh;
    position: relative;
}

.password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: $coloe-Window-Background, $alpha: .7);
    z-index: 3;

    .password-window {
        width: 789px;
        height: 377px;
        background-color: $color-White;
        border: 1px solid $color-Apricot;
        position: absolute;
        top: 15%;
        left: calc(50% - 394.5px);
        z-index: 3;
        overflow: hidden;
        .input-data {
            margin: 0px;
            padding: 0;
    
            .input-block {
                height: 300px;
                border-right: 1px solid $color-Nav-icon;
    
                .modify-title {
                    font-size: $H7-font-size;
                    color: $color-Nav-icon;
                    letter-spacing: $font-letter-space-200;
                }
    
                .input {
                    width: 90%;
                    font-size: $H9-font-size;
                    border: none;
                    border-bottom: 1px solid $color-Nav-icon;
                    outline: none;
                }
    
                .modify-btn {
                    width: 180px;
                    border-radius: 5px;
                    background-color: $color-White;
                    border: 1px solid $color-Nav-icon;
                    font-size: 18px;
                    color: $color-Nav-icon;
                    letter-spacing: $font-letter-space-100;
                }
            }
    
            .delete-btn {
                width: 40px;
                height: 40px;
                border: none;
                background-color: $color-Nav-icon;
                color: $color-White;
            }
            
            .safe-validate1 {
                font-size: $H7-font-size;
                color: $color-Nav-icon;
                letter-spacing: $font-letter-space-200;
            }

            .safe-validate2 {
                font-size: $H7-font-size;
                color: $color-Nav-icon;
                letter-spacing: $font-letter-sapce-75;
            }
    
            .lock-img {
                width: 196px;
                height: 235px;
                opacity: 0.7;
                transform: rotate(16deg);
            }
        }
    }
}

.member-center {
    width: 100%;
    height: 1011px;
    background-color: $color-LightGray;

    .m-center-index {
        font-size: 72px;
        color: $color-White;
    }

    .list-Group {
        .list-group-item {
            width: 170px;
            height: 60px;
            background-color: $color-Footer-Background;
            color: $color-LightGray;
            font-size: $H7-font-size;
            font-weight: bold;
            letter-spacing: $font-letter-space-200;
            border: 1px solid $color-IronGray;
            z-index: 2;

            &:hover {
                background-color: $color-Footer-Background;
                color: $color-LightGray;
            }

            &.active {
                width: 205px;
                background-color: $color-White;
                color: $color-WedgwoodBlue;
                font-weight: $font-Weight-B;
                border-color: $color-SkyBlue;
                border-right: 18px solid $color-SkyBlue;
                margin-left: -18px;
                z-index: 2;
            }

            &:first-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }

            &:last-child {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }

    .tab-contents {
        margin-left: -17px;

        .member-data {
            width: 1140px;
            height: 853px;
            background-color: $color-White;
            border: 1px solid $color-Apricot;
            position: relative;

            .nowNews {
                font-size: 14px;
            }

            .input-container {
                width: 90%;
                padding-bottom: 10vh;
                border-bottom: 1px solid $color-IronGray;

                .input-message {
                    width: 100%;
                    height: 300px;
                    font-size: $H10-font-size;
                    outline: none;
                }

                input::-webkit-input-placeholder {
                    position: absolute;
                    left: 2vw;
                }
            }

            .button-container {
                width: 90%;
                font-size: $H10-font-size;

                .add-img-btn {
                    width: 100px;
                    height: 40px;
                    border: 1px solid;
                    border-radius: 5px;
                    background-color: $color-White;
                    letter-spacing: $font-letter-space-50;
                }

                .transform-btn {
                    width: 60px;
                    height: 40px;
                    border: 1px solid;
                    border-radius: 5px;
                    background-color: $color-White;
                    letter-spacing: $font-letter-space-100;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .list-Group {
        display: flex;
        flex-direction: column;
    }
}
