@import "_style_guild.scss";

@mixin tablet {
    @media (max-width: 1350px) {
        @content;
    }
}

// 小平板尺寸
@mixin sm-tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
//試穿資訊換版
@mixin try-on {
    @media (max-width: 991px) {
        @content;
    }
}

//大手機尺寸
@mixin bg-phone {
    @media (max-width: 768px) {
        @content;
    }
}
//商品卡片換版
@mixin single-cart {
    @media (max-width: 660px) {
        @content;
    }
}
// 小手機尺寸
@mixin sm-phone {
    @media (max-width: 520px) {
        @content;
    }
}

@mixin four-fifty {
    @media (max-width: 450px) {
        @content;
    }
}

// iphone 5s
@mixin iphone-5s {
    @media (max-width: 320px) {
        @content;
    }
}

body {
    font-family: $font-Family-A;
    min-height: 100vh;
    position: relative;
}

.password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: $coloe-Window-Background, $alpha: 0.7);
    z-index: 100;

    .password-window {
        max-width: 789px;
        width: 100%;
        height: 377px;
        background-color: $color-White;
        border: 1px solid $color-Apricot;
        position: absolute;
        top: 15%;
        left: calc(50% - 394.5px);
        z-index: 3;
        overflow: hidden;

        @include bg-phone() {
            width: 90%;
            max-height: 641px;
            height: 100%;
            position: absolute;
            top: -24px;
            left: 5vw;
        }

        .data-block1 {
            .delete-btn {
                width: 40px;
                height: 40px;
                border: none;
                background-color: $color-Nav-icon;
                color: $color-White;
            }
        }

        .data-block2 {
            width: 100%;

            @include bg-phone() {
                display: flex;
                flex-direction: column;
            }

            .block2-left {
                width: 50%;
                height: 300px;
                border-right: 1px solid $color-Nav-icon;

                @include bg-phone() {
                    width: 100%;
                }

                .modify-title {
                    font-size: $H7-font-size;
                    color: $color-Nav-icon;
                    letter-spacing: $font-letter-space-200;
                }

                .modify-content {
                    .input {
                        max-width: 300px;
                        width: 100%;
                        font-size: $H9-font-size;
                        border: none;
                        border-bottom: 1px solid $color-Nav-icon;
                        outline: none;
                        display: flex;

                        @include four-fifty() {
                            max-width: 250px;
                            width: 100%;
                        }
                    }

                    .input::-webkit-input-placeholder {
                        @include four-fifty() {
                            text-align: center;
                        }
                    } 

                    .wrong-password {
                        max-width: 300px;
                        width: 100%;
                        font-size: $H9-font-size;
                        margin: auto;
                    }
                }

                .sure-modify {
                    margin-top: 48px;

                    .modify-btn {
                        max-width: 180px;
                        width: 100%;
                        border-radius: 5px;
                        background-color: $color-White;
                        border: 1px solid $color-Nav-icon;
                        font-size: 18px;
                        color: $color-Nav-icon;
                        letter-spacing: $font-letter-space-100;
                    }
                }
            }

            .block2-right {
                width: 50%;

                @include bg-phone() {
                    width: 100%;
                }

                .safe-validate1 {
                    font-size: $H7-font-size;
                    color: $color-Nav-icon;
                    letter-spacing: $font-letter-space-200;
                }

                .safe-validate2 {
                    font-size: $H7-font-size;
                    color: $color-Nav-icon;
                    letter-spacing: $font-letter-sapce-75;
                }

                .safe-validate3 {
                    font-size: $H7-font-size;
                    color: $color-Nav-icon;
                    letter-spacing: $font-letter-sapce-75;
                }

                .lock {
                    position: relative;

                    .lock-img {
                        width: 196px;
                        height: 235px;
                        opacity: 0.7;
                        transform: rotate(16deg);
                        position: absolute;
                        right: -55px;
                    }
                }
            }
        }
    }
}

.member-center {
    width: 100%;
    height: 1011px;
    background-color: $color-LightGray;

    .m-center-index {
        font-size: 72px;
        color: $color-White;
    }

    .list-Group {
        @include try-on() {
            display: flex;
            flex-direction: column;
        }

        .list-group {
            @include try-on() {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
    
            .list-group-item {
                width: 170px;
                height: 60px;
                background-color: $color-Footer-Background;
                font-size: $H7-font-size;
                color: $color-LightGray;
                letter-spacing: $font-letter-space-200;
                border-bottom: 1px solid black;
                outline: none;
                z-index: 2;

                &:hover {
                    font-size: $H6-font-size;

                    @include bg-phone() {
                        font-size: $H7-font-size;
                    }

                    @include sm-phone() {
                        font-size: $H9-font-size;
                    }
                }

                @include try-on() {
                    max-width: 205px;
                    width: 100%;
                    font-size: $H8-font-size;
                    white-space: nowrap;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid black;
                    border-bottom: none;
                }
    
                @include bg-phone() {
                    font-size: $H10-font-size;
                    display: flex;
                    flex-direction: column;
                }
    
                @include sm-phone() {
                    font-size: $H11-font-size;
                }
    
                &.active {
                    width: 205px;
                    background-color: $color-White;
                    color: $color-WedgwoodBlue;
                    border-color: $color-SkyBlue;
                    border-right: 18px solid $color-SkyBlue;
                    margin-left: -18px;
                    z-index: 2;

                    @include try-on() {
                        max-width: 205px;
                        width: 100%;
                        height: 78px;
                        border-right: none;
                        border-bottom: 18px solid $color-SkyBlue;
                        z-index: 2;
                    }
    
                    @include bg-phone() {
                        font-size: $H7-font-size;
                    }
    
                    @include sm-phone() {
                        font-size: $H9-font-size;
                    }
                }
    
                &:first-child {
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }
    
                &:last-child {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
        }
    
        .tab-contents {
            max-width: 1140px;
            width: 100%;
            margin-left: -17px;

            @include try-on() {
                width: 100%;
                margin-left: 0;
                margin-top: -17px;
            }
    
            .member-data {
                height: 853px;
                background-color: $color-White;
                border: 1px solid $color-Apricot;
                position: relative;
    
                .nowNews {
                    font-size: 14px;
                }
    
                .input-container {
                    width: 90%;
                    padding-bottom: 10vh;
                    border-bottom: 1px solid $color-IronGray;
    
                    textarea {
                        width: 100%;
                        height: 300px;
                        font-size: $H10-font-size;
                        outline: none;
                        padding-left: 12px;
                        resize: none;
    
                        &::placeholder {
                            position: absolute;
                            left: 12px;
                        }
                    }
                }
    
                .button-container {
                    width: 90%;
                    font-size: $H10-font-size;
    
                    .btn-upload {
                        font-size: $H10-font-size;
                        border: 1px solid black;
                    }
    
                    .transform-btn {
                        width: 60px;
                        height: 40px;
                        border: 1px solid;
                        border-radius: 5px;
                        background-color: $color-White;
                        letter-spacing: $font-letter-space-100;
                    }
                }
            }
        }
    }
}
