@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
    scroll-behavior: smooth;   
}
//筆電尺寸
@mixin notebook {
    @media(max-width:1550px){
        @content;
        transition: 1s;
    }
}
// 大平板尺寸
@mixin tablet {
    @media (max-width: 1150px) {
        @content;
        transition: 1s;
    }
}
// 小平板尺寸
@mixin sm-tablet {
    @media (max-width: 1024px) {
        @content;
        transition: 1s;
    }
}
// 商品卡片換行
@mixin card-change {
    @media (max-width:575px) {
        @content;
        transition: 1s;
    }
}
// 小手機尺寸
@mixin sm-phone {
    @media (max-width:520px) {
        @content;
        transition: 1s;
    }
}
//鞋子卡片的樣式
@mixin shoes-content {
    max-width: 275px;
    min-width: 230px;
    width: 100%;
    height: 275px;
    background-color: $color-White-opacity;
    margin-bottom: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    z-index: 2;
    img {
        position: absolute;
        width: 215px;
        max-height: 160px;
        bottom: 90%;
        left: 50%;
        object-position: center;
        transform: translate(-50%,0);
        // @include tablet(){
        //     width: 200px;
        // }
    }
    .content {
        height: 166px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .text {
            padding: 0px 5px;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                margin: 0px;
                &:nth-child(1) {
                    font-size: $H7-font-size;
                    font-weight: lighter;
                    letter-spacing: $font-letter-space-100;
                    color: $color-IronGray;                    
                }
                &:nth-child(2) {
                    font-size: $H8-font-size;
                    font-weight: normal;
                    letter-spacing: $font-letter-space-100;
                    color: $color-IronGray;
                }
            }
        }
        .price {
            height: 40%;
            span {
                &:nth-child(1) {
                    font-size: $H9-font-size;
                    font-weight: lighter;
                    color: $color-Original-Price;
                    text-decoration: line-through;
                }
                &:nth-child(2) {
                    font-size: $H4-font-size;
                    font-weight: bold;
                    color: $color-Border-Line;
                }
            }
        }
    }
    a{
        max-width: 200px;
        width: 100%;
        margin-bottom: 10px;
        &:hover{
            text-decoration: none;
        }
        button{
            width: 100%;
            height: 50px;
            color: $color-IronGray;
            background-color: unset;
            border: 2px solid $color-MoreButton;
            border-radius: 45px;            
            display: flex;
            justify-content: center;
            align-items: center;
            @include button-focus();
            @include button-hover();
            
        }
        
    }
}
//button hover effect
@mixin button-hover {
    position: relative;
    display: block;
    overflow: hidden; 

    &,&:after{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    &::after {
        background: $color-Apricot;
        content: '';
        position: absolute;
        z-index: -1;

        height: 100%;
        left: -35%;
        top: 0;
        transform: skew(5deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
      }
    &:hover:after {
        width: 135%;
    }
    &:hover{
        color: $color-White;
        border:none;
    }
    
}
//button focus effect
@mixin button-focus {
    transition: color 300ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-in-out;
        transition: 200ms ease-in-out;                            
    }
    @keyframes colorFade {
        0% { background: rgba($color-Apricot,0.25); }
        100% { background: rgba($color-Apricot,1); }
    }
    &:focus:before{
        -webkit-transform: scale(2);
        transform: scale(2);
        animation: colorFade 1s ease-in-out;
        background: darken(darken($color-Apricot,7%),2.5%);
    }
    &:focus{
        color: $color-White;
        border:none;
    }
    &:focus:after{
        display: none;
    }       
}
//background change
@mixin background-change{
    position: relative;
    &:before{
        @content;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
        opacity: 0.7;
   }
}
.navbar{
    .navbar-collapse{
        @include sm-tablet(){
            &{
                width: 400px;
            }
        }
        @include sm-phone(){
            &{
                width: 100vw; 
            }
        }
    }
    li{
        &:nth-child(n+5){
            display: none;
        }
        &:nth-child(6){
            display: block;
        }

    }
}
#navbar{
    @include background-change();
}
nav{
    .input-cart{
        .search{
            input{
                background-color: transparent!important;
            }
        }
    }
}
main{
    .main-container{
        min-height: 100vh;
        display: flex;
        // 左邊白色區塊的欄位
        .commodity-menu{
            max-width: 375px;
            width: 100%;
            padding-top: 100px;
            @include background-change();            
            @include sm-tablet(){
                display: none;
            }
            .all-commodity{
                max-width: 200px;
                margin: auto;
                width: 100%;
                &.sticky{
                    position: fixed;
                    top: 10px;
                    left:90px;
                    width: 100%;
                    animation: smoothScroll 1s forwards;
                }
                @keyframes smoothScroll {
                    0% {
                        transform: translateY(-40px);
                    }
                    100% {
                        transform: translateY(0px);
                    }
                }
                .commodity-menu-title{
                    cursor: pointer;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    font-size: $H6-font-size;
                    letter-spacing: $font-letter-space-100;
                    &.AllCommodity::after{
                        content:'\f077';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                    }
                    &.AllCommodity.collapsed::after{
                        content:'\f078';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                    }
                    &.Snowshoe.collapsed::after{
                        content:'\f078';                    
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                    }
                    &.Snowshoe::after{
                        content:'\f077';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                    }
                }
                .commodity-menu-options{
                    width: 70%;   
                    margin-left: auto;         
                    li{
                        font-size: $H10-font-size;
                        margin-bottom: 10px;
                        a{
                            color: $color-Nav-icon;
                        }                    
                    }
    
                }
                .commodity-other{
                    cursor: pointer;
                    padding-left: 10px;
                    font-size: $H6-font-size;
                    letter-spacing: $font-letter-space-100;                
                }
            }
        }
        // 所有產品
        .product-container{        
            max-width: calc(100% - 375px);
            width: 100%;
            @include background-change(){
                background-color: $color-New-Background;
            }
            padding-top: 85px;
            // padding-right: 11.5vw;
            padding-left: 2.6vw;
            @include sm-tablet(){
                max-width: unset;
                padding: 85px 2.6vw 0px 2.6vw;
            }
            .product-container-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .product-container-lable{
                    a{
                        font-size: $H10-font-size;
                        color: $color-IronGray;
                    }                
                }
                .product-container-sort{
                    display: flex;
                    p{                    
                        margin: 0;
                        margin: 0 20px;
                        font-size: $H10-font-size;
                        color: $color-IronGray;
                    }
                }
            }
            .product-container-card{
                max-width: 1293px;
                width: 100%;
                margin-right: auto;
                padding-left: 6.9%;              
                padding-right: 3.9%;
                padding-top: 120px;            
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
                @include sm-tablet(){
                    padding-left: unset;
                    padding-right: unset;
                } 
                // @include card-change(){
                //     flex-direction: column;
                // }
                .product-card-spacing{
                    flex: 0 0 25%;
                    // max-width: 295px;
                    // min-width: 250px;
                    // width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 10px;                
                    @include card-change(){
                        flex: 0 0 60%;
                    }
                    .product-card {
                        padding: 0 10px;
                        @include shoes-content();
                        @include card-change(){
                            &:nth-child(n+5){
                                display: none;
                            }
                        }                    
                    }
                }                             
            }
            .null-product{
                width: 100%;
                text-align: center;
                padding: 100px 0;
            }   
            .pagination{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                    max-width: 200px;
                    display: flex;
                    li{
                        margin: 0 10px;
                        display: flex;
                        align-items: center;
                        a{                    
                            color: $color-MiddleGray;
                        }
                        .page-number{
                            font-size: $H6-font-size;
                        }                         
                    }
                }
            }
        }
         // 回到上層的按鈕
         .back-top{
            display: none;

            &.sticky{
                display: block;
                
                position: fixed;
                bottom: 92px;
                right: 40px;
                z-index: 5;
                opacity: 0.3;
                animation: top-move-in .3s ease-in-out;
                animation-fill-mode: both;
                @keyframes top-move-in {
                    0%{
                        bottom: 95px;
                        opacity: 0;
                    }
                    100%{
                        bottom: 92px;
                        opacity: 0.3;
                    }
                    
                }
                &:hover{
                    opacity: 0.3;
                    animation: top-move .7s ease-in-out;
                    animation-iteration-count: infinite;
                }
                @keyframes top-move {
                    0%{
                        bottom: 100px;
                        opacity: 0.5;
                    }
                    20%{
                        bottom: 92px;
                        opacity: 0.7;
                    }
                    40%{
                        bottom: 100px;
                        opacity: 0.9;
                    }
                    80%{
                        bottom: 92px;
                        opacity: 1; 
                    }
                    100%{
                        bottom: 100px;
                        opacity: 0.5;
                    }
                    
                }
                a{
                    i{
                        font-size: $H3-font-size;
                    }
                }
            }
        }  
        
    }
}
