@import '_style_guild.scss';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-Family-A;
}
$contW: 900px;
$contH: 900px;
$imgW: 260px;
$imgH: 200px;
$formW: $contW - $imgW;
$formH: $contH - $imgH;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 40px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
    .cont.s--signup & {
        @content;
    }
}
@mixin bg-register{
    @media(max-width:920px){
        @content;
        transition: 1s;
    }
}
input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
main{
    .main-container{
        background: #ededed;
        min-height: calc(100vh - 113px);
        display: flex;
        justify-content: center;
        align-items: center;        
    }            
    .tip {
        font-size: 20px;
        margin: 40px auto 50px;
        text-align: center;
    }
    
    .cont {
        overflow: hidden;
        position: relative;    
        max-width: $contW;
        width: 100%;
        height: 700px;
        margin: 0 auto;
        background: #fff;
        @include bg-register(){
            height: $contH;
        }
    }
    
    .form {
        position: relative;
        width: $formW;
        height: 100%;
        transition: transform $switchAT ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include bg-register(){
            max-width: $contW;
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }
        
    
    button {
        display: block;
        margin: 0 auto;
        width: $inputW;
        height: $btnH;
        border-radius: 30px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }
    
    
    
    h2 {
        width: 100%;
        font-size: 26px;
        text-align: center;
    }
    
    label {
        display: block;
        width: $inputW;
        margin: 25px auto 0;
        text-align: center;
    
        span {
            font-size: $H10-font-size;
            font-weight: $font-Weight-B;
            letter-spacing: $font-letter-space-200;
            color: $color-IronGray;        
        }
    }
    
    input {
        display: block;
        width: 100%;
        margin-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.4);    
    }
    
    .forgot-pass {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        letter-spacing: $font-letter-space-200;
        color:$color-Input-line;
        cursor: pointer;
    }    
    .submit {
        margin-top: 40px;
        margin-bottom: 20px;
        background: $color-Border-Line;
        text-transform: uppercase;
        transition: .5s;
        position: relative;
        overflow: hidden;      
        &:hover{
            font-weight: $font-Weight-B;
            background-color: $color-WedgwoodBlue;
            z-index: 0;
        }        
        .anim {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%,-50%);
          
            &:before {
                position: relative;
                content: '';
                display: block;
                margin-top: 100%;
            }
            
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom:0;
                left: 0;
                right: 0;
                border-radius: 50%;
            }
        }        
    }
    
    .fb-btn {
        color: $color-White;
        background-color: $color-Blue;
        span {
            font-weight: bold;
            color: $color-White;
        }
    }                
}
.clickable {    
    &:hover .anim{        
        animation:anim-out .75s;
        &:after {         
            animation:anim-out-pseudo .75s;
        }        
    }
}
@keyframes anim-out
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}
@keyframes anim-out-pseudo
{
    0%
    {
        background: rgba(#000,0.25);
    }
    100%
    {
        background: rgba(#000,0);
    }
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;    
    width: $imgW;
    height: 100%;
    padding-top: 360px;    

    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: $contW;
        height: 100%;
        background-image: url('../img/register.jpg');
        background-size: cover;
        transition: transform $switchAT ease-in-out;
        @include bg-register(){
            height: $contH;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
    }

    @include signUpActive {
        &:before {
            transform: translate3d($formW,0,0);
        }
    }
    @include bg-register(){
        max-width: $contW;
        width: 100%;
        height: $imgH;
        top: unset;
        bottom: 0;
        padding-top: 20px;
        @include signUpActive {
            &:before {                
                transform: translate3d(0,$formH * -1,0);
            }
        }
    }

    &__text {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 50px;
        max-width: $contW;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        transition: transform $switchAT ease-in-out;
        @include bg-register(){
            padding: 0;
            top: 90px;
        }
        h2 {
            margin-bottom: 10px;
            font-size: $H5-font-size;
            font-weight: normal;
        }

        p {
            font-size: 14px;
            letter-spacing: $font-letter-space-50;
            line-height: 1.5;
            @include bg-register(){
                max-width: 300px;
                margin: auto;
            }
        }

        &.m--up {            
            @include signUpActive {
                transform: translateX($imgW*2);
            }
            @include bg-register(){                
                @include signUpActive {
                    transform: translateX(0);
                    transform: translateY($imgH*2);
                }   
            }            
        }

        &.m--in {
            transform: translateX($imgW * -2);
            @include signUpActive {
                transform: translateX(0);
            }
            @include bg-register(){
                transform: translateX(0);
                transform: translateY($imgH * 2);
                @include signUpActive {
                    // transform: translateX(0);
                    transform: translateY(80%);
                }   
            } 
        }
    }

    &__btn {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 130px;
        height: $btnH;
        margin: 0 auto;
        background: rgba($color: $color-White, $alpha: 0.5);
        border-radius: 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: $H7-font-size;
        letter-spacing: $font-letter-space-200;
        cursor: pointer;
        transition: .5s;
        @include bg-register(){
            margin-top: 10px;
        }

        &:hover{
            background: rgba(226, 135, 73, .7);
            border-radius: 30px;
        }

        &:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;        
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: transform $switchAT;
            
            &.m--in {
                transform: translateY($btnH*-2);
                
                @include signUpActive {
                transform: translateY(0);
                }
            }
            
            &.m--up {
                @include signUpActive {
                transform: translateY($btnH*2);
                }
            }
        }
    }
}
.sub-cont {
    overflow: hidden;
    position: absolute;
    // left: $formW;
    right: $formW * -1;
    top: 0;
    max-width: $contW;
    width: 100%;
    height: 100%;
    padding-left: $imgW;
    background: #fff;
    transition: transform $switchAT ease-in-out;

    @include signUpActive {
        transform: translate3d($formW * -1,0,0);
    }
    @include bg-register(){        
        left: 0;
        top: unset;
        bottom: $formH;
        padding-left: 0;
        padding-bottom: $imgH;
        @include signUpActive {
            transform: translate3d(0,$formH * 1,0);
        }        
    }
    
}
.sign-in {
    transition-timing-function: ease-out;

    @include signUpActive {
        transition-timing-function: ease-in-out;
        transition-duration: $switchAT;
        transform: translate3d($formW,0,0);
    }
    @include bg-register(){
        @include signUpActive {            
            transform: translate3d(0,$formH * -1,0);
        }
    }
}
.sign-up {
    transform: translate3d($contW * -1,0,0);
    h2{
        font-weight: unset;
    }
    @include signUpActive {
        transform: translate3d(0,0,0);
    }
    @include bg-register(){
        transform: translate3d(0,$contH * 1,0);           
    }
}