@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
}
//1700
@mixin bg-screen{
    @media(max-width:1700px){
        @content;
        transition: 1s;
    }
}
//1450
@mixin screen{
    @media(max-width:1450px){
        @content;
        transition: 1s;
    }
}
//1335
@mixin sm-screen{
    @media(max-width:1335px){
        @content;
        transition: 1s;
    }
}
//1230
@mixin tablet{
    @media(max-width:1230px){
        @content;
        transition: 1s;
    }
}
//1024
@mixin arrow{
    @media(max-width:1024px){
        @content;
        transition: 1s;
    }
}
//940
@mixin sm-tablet{
    @media(max-width:940px){
        @content;
        transition: 1s;
    }
}
//800
@mixin bg-phone{
    @media(max-width:800px){
        @content;
        transition: 1s;
    }
}
//690
@mixin phone{
    @media(max-width:690px){
        @content;
        transition: 1s;
    }
}
//620
@mixin sm-phone{
    @media(max-width:620px){
        @content;
        transition: 1s;
    }
}
//520
@mixin bg-iphone{
    @media(max-width:520px){
        @content;
        transition: 1s;
    }
}
//320
@mixin iphone{
    @media(max-width:320px){
        @content;
        transition: 1s;
    }
}
//button hover effect
@mixin button-hover {
    position: relative;
    display: block;
    overflow: hidden; 

    &,&:after{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    &::after {
        background: $color-Apricot;
        content: '';
        position: absolute;
        z-index: -1;

        height: 100%;
        left: -35%;
        top: 0;
        transform: skew(5deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
      }
    &:hover:after {
        width: 135%;
    }
    &:hover{
        color: $color-White;
        border: unset;
    }
    
}
//button focus effect
@mixin button-focus {
    transition: color 300ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-in-out;
        transition: 200ms ease-in-out;                            
    }
    @keyframes colorFade {
        0% { background: rgba($color-Apricot,0.25); }
        100% { background: rgba($color-Apricot,1); }
    }
    &:focus:before{
        -webkit-transform: scale(2);
        transform: scale(2);
        animation: colorFade 1s ease-in-out;
        background: darken(darken($color-Apricot,7%),2.5%);
    }
    &:focus{
        color: $color-White;
        border: unset;
    }
    &:focus:after{
        display: none;
    }       
}
//background change
@mixin background-change{
    position: relative;
    &:before{
        @content;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
        opacity: 0.7;
   }
}
main{
    .main-container{    
        @include background-change(){
            background: $color-New-Background;
        };
        min-height: 100vh;
        .my-container{
            height: 100%;
            max-width: 1770px;
            width: 100%;
            padding: 0;
            padding: 15.7vh 0px 5vh 6.7vw;
            transition: 1s;
            @include screen(){
                padding:15.7vh 1vw 10vh 1vw ;
            }
            @include sm-screen(){
                padding-top:5vh;
            }
            .steps{
                display: flex;
                padding: 0 10px;
                max-width: 1141px;
                @include sm-screen(){
                    max-width: unset;
                }
                .step{
                    display: flex;
                    align-items: center;                
                    &:nth-child(1){
                        flex:0 0 32%;
                        justify-content: start;                      
                        .step-content{
                            background:$color-Border-Line;                    
                        }
                        .step-right-line{
                            &::after{
                                content:'';
                                display: block;                                      
                                width: 100%;
                                height: 100%;
                                background:$color-Border-Line;
                            }
                        }
                    }
                    &:nth-child(2){  
                        flex:0 0 36%;
                        justify-content: center;              
                        .step-content{
                            background:$color-Banner-Card;                  
                        }
                    }    
                    &:nth-child(3){                
                        flex:0 0 32%;
                        justify-content:flex-end;
                        .step-content{
                            background:$color-Banner-Card;                    
                        }
                    }                   
                    .step-content{                    
                        padding: 10px 0;
                        border-radius: 5px;              
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        @include screen(){
                            width: 120%;
                        }
                        @include tablet(){
                            width: 100%;
                        }
                        .text{
                            display: flex;                    
                            justify-content: center;
                            align-items: center;
                            color:#ffffff;
                            p{
                                margin: 0;
                                font-size: $H4-font-size;
                                letter-spacing: $font-letter-space-200;
                            }
                            .text-content{                        
                                text-align: left;    
                                @include sm-tablet(){
                                    display: none;
                                }                                            
                                p{
                                    &:nth-child(1){                                
                                        font-size: $H10-font-size;
                                        letter-spacing: $font-letter-space-50;                                
                                    }
                                    &:nth-child(2){                                        
                                        font-size: $H11-font-size;
                                        letter-spacing: $font-letter-space-100;
                                        @include screen(){
                                            letter-spacing: $font-letter-space-50;
                                        }
                                    }
                                }                     
                            }
                        }
                    }
                    .step-right-line{
                        position: relative;
                        width: 20%;
                        height: 3px;
                        background: $color-Banner-Card;            
                    }
                    .step-left-line{
                        width: 20%;
                        height: 3px;
                        background: $color-Banner-Card;
                    }                
                }
            }
            .shopping-container{
                width: 100%;
                margin-top: 30px;
                display: flex;
                position: relative;
                transition: 1s;
                flex-wrap: wrap;
                @include sm-screen(){
                    justify-content: center;
                }
                .web-title{
                    position: absolute;
                    top: 0px;
                    left: -130px;
                    font-size: 98px;
                    @include screen(){
                        display: none;
                    }
                    p{
                        margin: 0px;
                        -webkit-writing-mode: vertical-lr;
                        writing-mode: vertical-lr;
                        color: $color-White;
                    }
                }
                .shopping-order{                
                    max-width: 1141px;
                    width: 100%;
                    // max-height:452px;
                    background: $color-White;
                    border: 1px solid $color-Apricot;
                    transition: 1s;
                    overflow: hidden;
                    @include bg-screen(){
                        max-width: 72%;
                    }
                    @include sm-screen(){
                        max-width: 100%;
                    }
                    @include sm-tablet(){
                        max-height: unset;
                    }
                    .order-title{
                        width: 100%;
                        padding-top: 20px;
                        ul{
                            width: 100%;
                            padding: 10px 0;
                            display: flex;
                            border-bottom: 1px solid $color-Gainsboro;
                            margin-bottom: 0;
                            .title{
                                display: flex;
                                justify-content: center;
                                flex: 0 0 12%;
                                font-family: $font-Family-A;
                                font-weight: $font-Weight-B;
                                font-size: $H10-font-size;
                                letter-spacing: $font-letter-space-100;
                                transition: 1s;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                &:nth-child(1){
                                    @include sm-phone(){
                                        margin:0px 30px;
                                    }
                                }
                                &:nth-child(2){
                                    flex: 0 0 28%;
                                    @include sm-phone(){
                                        flex: none;
                                        margin:0px 20px;
                                    }
                                }  
                                @include bg-phone(){
                                    flex: 0 0 17%;
                                    &:nth-child(6){
                                        display: none;
                                    }
                                    &:nth-child(7){
                                        display: none;
                                    }
                                }   
                                @include sm-phone(){
                                    &:nth-child(3){
                                        display: none;
                                    }  
                                    &:nth-child(4){
                                        display: none;
                                    }  
                                    &:nth-child(5){
                                        display: none;
                                    }  
                                }                
                            }
                        }
                    }
                    .shopping-order-content{
                        // height: calc(100% - 62px);
                        // overflow-y: auto;
                        @include bg-phone(){
                            height: unset;
                            overflow-y: unset;
                        }
                        .shopping-cart{
                            width: 100%;
                            padding-top: 20px;      
                            @include sm-phone(){
                                padding-bottom: 50px;    
                            }          
                            ul{
                                width: 100%;                    
                                display: flex;                    
                                .order-cart{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex: 0 0 12%;
                                    font-family: $font-Family-A;
                                    font-weight: $font-Weight-B;
                                    font-size: $H10-font-size;
                                    transition: 1s;
                                    @include tablet(){
                                        flex: 1 0 11%; 
                                    }
                                    @include bg-phone(){
                                        flex: 0 0 17%;
                                    }
                                    &.content{
                                        flex: 0 0 28%;
                                        transition: 1s;
                                        @include sm-phone(){
                                            flex: 0 0 32%; 
                                        }
                                    }
                                }
                                .img{
                                    img{
                                        max-width: 90px;
                                        width: 100%;
                                        max-height: 90px;
                                        object-fit: contain;
                                        object-position: center;
                                        transition: 1s;
                                        @include sm-phone(){
                                            max-width: unset;
                                            max-height: unset;
                                            width: 90px;
                                            height: 90px;
                                            margin-right: 10px;
                                            margin-left: 20px;
                                        }
                                    }
                                }
                                .content{
                                    .cart-content{
                                        min-height: 90px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        @include sm-phone(){
                                            width: 183px;
                                        }
                                        .cart-title{                            
                                            color:$color-Nav-icon;
                                            p{
                                                font-size: $H10-font-size;
                                                font-weight: lighter;
                                                margin: 0;
                                            }               
                                        }
                                        .cart-text{
                                            color: $color-Gainsboro;
                                            font-size: $H11-font-size;
                                            font-weight: lighter;
                                            p{
                                                margin: 0;
                                            }
                                        }
                                    }                        
                                }
                                .price{                        
                                    .discount{
                                        text-align: center;
                                        p{                
                                            margin: 0;
                                            font-weight: lighter;                
                                            &:nth-child(1){
                                                font-family: $font-Family-A;
                                                font-size: $H9-font-size;                                
                                                color: $color-Nav-icon;
                                            }
                                            &:nth-child(2){
                                                position: relative;
                                                font-family: $font-Family-A;
                                                font-size: $H11-font-size;                                
                                                color: $color-PaleBlue;
                                                &::after{
                                                    content: '';
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 1px;
                                                    background-color: $color-PaleBlue;
                                                }
                                            }
                                        }
                                    }
                                }
                                .count{
                                    .less,.plus{
                                        width: 13px;
                                        font-size: $H6-font-size;
                                        cursor: pointer;
                                        color: $color-Nav-icon;
                                    }
                                    .less:hover{
                                        color: $color-Apricot;
                                    }
                                    .plus:hover{
                                        color: $color-Apricot;
                                    }
                                    input{
                                        margin: 0 5px;
                                        text-align: center;
                                        background-color: $color-Periwinkle;
                                        outline: none;
                                        border: none;
                                        -webkit-appearance: none;
                                        &[type=number]::-webkit-outer-spin-button,
                                        &[type=number]::-webkit-inner-spin-button {
                                        -webkit-appearance: none;
                                        }
                                    }
                                }
                                .subtotal{
                                    p{
                                        margin: 0;
                                        font-family: $font-Family-A;
                                        font-size: $H9-font-size;                                
                                        color: $color-Nav-icon;
                                        font-weight: lighter;
                                    }
                                }
                                .delete-cart{
                                    .delete{                            
                                        .delete-button{
                                            cursor: pointer;
                                            font-family: $font-Family-A;
                                            font-size: $H9-font-size;                                
                                            color: $color-Nav-icon;
                                            border: none;
                                            outline: none;
                                            background: none;
                                            &:hover{
                                                color: $color-Apricot;
                                            }
                                        }
                                    }
                                }
                                .favorite{
                                    .fa-star{
                                        cursor: pointer;
                                        font-size: $H9-font-size;                                
                                        color: $color-Nav-icon;
                                        &:hover{
                                            color: $color-Apricot;
                                        }
                                    }
                                }
                                .favorite.active{
                                    .fa-star{
                                        color: $color-Apricot;
                                        animation: star-fold 1s ease-in-out;

                                        position: relative;
                                        &:after{
                                            content: "";
                                            position: absolute;
                                            height: 4px;
                                            width: 4px;
                                            top: 7px;
                                            left: 7px;
                                            border-radius: 50%;
                                            animation: firework .5s ease-in-out;
                                        }
                                    }
                                }
                                //收藏效果
                                @keyframes firework {
                                0% {
                                    opacity: 1;
                                    box-shadow: 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot;
                                }
                                30% {
                                    opacity: 1;
                                }
                                100% {
                                    opacity: 0.0;
                                    box-shadow: 0 -15px 0 0px $color-Apricot, 14px -8px 0 0px $color-Apricot, 14px 8px 0 0px $color-Apricot, 0 15px 0 0px $color-Apricot, -14px 8px 0 0px $color-Apricot, -14px -8px 0 0px $color-Apricot;
                                }
                                }
                                @keyframes star-fold {
                                    0%{
                                        transform: rotate(0deg);
                                        color: $color-Nav-icon;
                                    }
                                    31%{
                                        transform: rotate(270deg);
                                        color: $color-Apricot;
                                    }
                                    100%{
                                        transform: rotate(360deg);
                                        color: $color-Apricot;
                                    }
                                    
                                }
                            }
                            @include bg-phone(){
                                    ul{
                                        position: relative;
                                        .delete-cart{
                                            position: absolute;
                                            top: 0px;
                                            right: 4vw;
                                        } 
                                        .favorite{
                                            position: absolute;
                                            top: 70px;
                                            right: 3.5vw;
                                        } 
                                    }        
                            }
                            @include sm-phone(){
                                    ul{
                                        position: relative;
                                        .price{
                                            position: absolute;
                                            top: 95px;
                                            left: 1.5em; 
                                        }
                                        .count{
                                            position: absolute;
                                            top: 95px;
                                            left: 9em;  
                                        }
                                        .subtotal{
                                            position: absolute;
                                            top: 100px;
                                            left: 18.5em;
                                        }
                                    }
                            }   
                        }
                    }                    
                }
                .other-amount{
                    display: flex;
                    position: relative;
                    transition: 1s;
                    width: 100%;
                    @include bg-screen(){
                        max-width: 72%; 
                    }
                    @include sm-screen(){
                        max-width: 60%;
                    }
                    @include sm-tablet(){
                        max-width: 45%;
                    }
                    @include phone(){
                        max-width: 100%;
                    }
                    .other-discount{    
                        margin-top: 20px;            
                        max-width: 1141px;
                        width: 100%;
                        transition: 1s;
                        .other-tital{
                            display: flex;
                            align-items: center;
                            padding:10px 20px;
                            border-radius: 5px;
                            background: $color-SkyBlue;
                            color: $color-White;
                            letter-spacing: $font-letter-space-100;
                            p{
                                margin: 0;
                                padding: 0 5px;
                                font-size: $H6-font-size;                    
                            }
                        }
                        .other-card{
                            width: 100%;
                            margin-top: 15px;
                            padding: 0 10px;
                            display: flex;
                            transition: 1s;
                            @include sm-screen(){
                                flex-wrap: wrap;
                            }
                            .commodity{
                                display: flex;
                                flex: 0 0 25%;
                                
                                @include sm-screen(){
                                    flex: none;
                                    width: 50%;
                                    margin-bottom: 15px;
                                }
                                @include sm-tablet(){
                                    width: 100%;
                                }
                                @include phone(){
                                    width: 50%;
                                }
                                @include bg-iphone(){
                                    width: 100%;
                                }
                                .photo{
                                    max-width: 112px;
                                    width: 100%;                        
                                    img{
                                        width: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }
                                .commodity-content{  
                                    padding:0 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    .title{
                                        font-size: $H11-font-size;
                                        color: $color-IronGray;
                                    }
                                    .content-buttone{
                                        p{
                                            margin: 0;
                                            color: $color-Apricot;
                                            font-size: $H7-font-size;
                                            font-weight: $font-Weight-B;
                                            
                                        }
                                        .push-cart{
                                            border: 1px solid $color-Nav-icon;
                                            border-radius: 10px;
                                            outline: none;
                                            padding: 5px 20px;
                                            transition: .5s;
                                            font-size: $H11-font-size;
                                            white-space: nowrap;
                                            @include button-hover();
                                            @include button-focus();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .payment-amount{
                    width: 341px;
                    margin-left: 20px;
                    @include sm-screen(){
                        order: 3;
                        margin-top: 20px;
                    }
                    @include phone(){
                        margin-left: unset;   
                    }
                    .payment-shipping{
                        position: relative;
                        max-width: 371px;
                        width: 100%;
                        min-height:452px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $color-White;
                        border: 1px solid $color-Apricot;
                       
                        h3{
                            position: absolute;
                            top: 20px;
                            text-align: center;
                            font-size: $H5-font-size;
                            letter-spacing: $font-letter-space-200;
                        }
                        .shipping{
                            width: 100%;
        
                            .shipping-select{
                                position: relative;
                                width: 80%;
                                margin: auto;
                                padding: 10px 0;
                                h5{
                                    position: absolute;
                                    top: 3px;
                                    left: 15px;
                                    margin: 0;
                                    background-color: white;
                                    font-size: $H10-font-size;
                                }
                                select{                            
                                    width: 100%;
                                    padding: 10px 10px;
                                    border-radius: 5px;
                                    border: 1px solid $color-Background-line;
                                    outline: none;
                                    font-size: $H10-font-size;
                                    color: $color-Nav-icon;                  
                                }            
                            }
                            .business{
                                width: 80%;                
                                margin: auto;
                                padding: 5px 10px;
                                color: $color-Nav-icon;
                                background-color: $color-Background-line;
                                font-size: $H11-font-size;
                                letter-spacing: $font-letter-space-50;
                            }
                            .choose{
                                padding-top: 20px;                        
                                width: 80%;                
                                margin: auto;
                                display: flex;
                                justify-content: flex-end;
                                .choose-button{       
                                    font-size: $H11-font-size;                     
                                    padding: 5px 15px;
                                    background: white;
                                    border: 1px solid $color-Nav-icon;
                                    border-radius: 10px;
                                    outline: none;
                                    transition: .5s;
                                    @include button-focus();
                                    @include button-hover();
                                }
                            }
                        }
                    }
                    .amount{
                        margin-top: 5px;
                        max-width: 341px;
                        width: 100%;
                        position: absolute;
                        @include sm-screen(){
                            position: relative;
                        }
                        .free-ship{
                            display: flex;
                            font-size: $H11-font-size;               
                            align-items: center;
                            p{
                                margin: 0;
                                margin-right: 5px;
                                padding: 5px;
                                font-size: $H9-font-size;
                                background-color: $color-Apricot;
                                color: $color-White;
                                border-radius: 5px;
                            }
                        }
                        .total{
                            padding-top: 20px;
                            .price-total{
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 5px;
                                p{                        
                                    margin: 0;
                                    font-size: $H10-font-size;   
                                    font-weight: $font-Weight-B;                         
                                }
                            }
                        }
                        .order-total-button{
                            width: 100%;
                            padding-top: 10px;
                            .order-total{
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;
                                padding-bottom: 20px;
                                p{
                                    width: 55%;
                                    font-size: $H9-font-size;
                                    margin: 0; 
                                    padding-bottom: 10px;                           
                                    text-align: end;
                                }
                                .order-total-price{
                                    width: 45%;       
                                    padding: 0;                     
                                    color: $color-Apricot;
                                    font-weight: $font-Weight-B;
                                    font-size: $H3-font-size;
                                    text-align: end;
                                }                
                            }
                            .next-a{
                                cursor: pointer;
                                width: 100%;
                                border: none;
                                outline: none; 
                                text-decoration: none;                       
                                border-radius: 10px;
                                display: flex;
                                justify-content: center;                            
                                align-items: center;
                                background-color: $color-Apricot;
                                font-size: $H4-font-size;                        
                                letter-spacing: $font-letter-space-200;
                                color: $color-White;
                                position: relative;
                                z-index: 0;
                                overflow: hidden;
                                .anim {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    z-index: -1;
                                    transform: translate(-50%,-50%);
                                
                                    &:before {
                                        position: relative;
                                        content: '';
                                        display: block;
                                        margin-top: 100%;
                                    }
                                    
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        bottom:0;
                                        left: 0;
                                        right: 0;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            
                        }
                    }
                } 
                
            }           
        }
    }
}
.clickable {    
    &:hover .anim{        
        animation:anim-out .75s;
        &:after {         
            animation:anim-out-pseudo .75s;
        }        
    }
}
@keyframes anim-out
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}
@keyframes anim-out-pseudo
{
    0%
    {
        background: rgba(#000,0.25);
    }
    100%
    {
        background: rgba(#000,0);
    }
}



