@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
}
//1760
@mixin bg-screen{
    @media(max-width:1760px){
        @content;
        transition: 1s;
    }
}
//1350
@mixin sm-screen{
    @media(max-width:1350px){
        @content;
        transition: 1s;
    }
}
//1070
@mixin tablet{
    @media(max-width:1070px){
        @content;
        transition: 1s;
    }
}
//1024
@mixin arrow{
    @media(max-width:1024px){
        @content;
        transition: 1s;
    }
}
//790
@mixin bg-phone{
    @media(max-width:790px){
        @content;
        transition: 1s;
    }
}
//620
@mixin sm-phone{
    @media(max-width:620px){
        @content;
        transition: 1s;
    }
}
//320
@mixin iphone{
    @media(max-width:320px){
        @content;
        transition: 1s;
    }
}
//button hover effect
@mixin button-hover {
    position: relative;
    display: block;
    overflow: hidden; 

    &,&:after{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    &::after {
        background: $color-Apricot;
        content: '';
        position: absolute;
        z-index: -1;

        height: 100%;
        left: -35%;
        top: 0;
        transform: skew(5deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
      }
    &:hover:after {
        width: 135%;
    }
    &:hover{
        color: $color-White;
    }
    
}
//button focus effect
@mixin button-focus {
    transition: color 300ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-in-out;
        transition: 200ms ease-in-out;                            
    }
    @keyframes colorFade {
        0% { background: rgba($color-Apricot,0.25); }
        100% { background: rgba($color-Apricot,1); }
    }
    &:focus:before{
        -webkit-transform: scale(2);
        transform: scale(2);
        animation: colorFade 1s ease-in-out;
        background: darken(darken($color-Apricot,7%),2.5%);
    }
    &:focus{
        color: $color-White;
    }
    &:focus:after{
        display: none;
    }       
}
main{
    .main-container{    
        background: $color-LightGray;
        min-height: 100vh;
        .my-container{
            height: 100%;
            max-width: 1550px;
            padding: 0;
            padding-top: 15.7vh;
            transition: 1s;
            @include bg-screen(){
                max-width: 1140px;
            }
            @include sm-screen(){
                max-width: 880px;
            }
            @include tablet(){
                max-width: unset;
            }
            @include sm-phone(){
                padding-top: 5.7vh;
            }
            .steps{
                display: flex;
                padding: 0 10px;
                max-width: 1141px;
                .step{
                    display: flex;
                    align-items: center;                
                    &:nth-child(1){
                        flex:0 0 32%;
                        justify-content: start;                      
                        .step-content{
                            background: $color-SkyBlue;                    
                        }
                        .step-right-line{
                            &::after{
                                content:'';
                                display: block;                                      
                                width: 100%;
                                height: 100%;
                                background: $color-SkyBlue;
                            }
                        }
                    }
                    &:nth-child(2){  
                        flex:0 0 36%;
                        justify-content: center;              
                        .step-content{
                            background: $color-Shopping-Step;                  
                        }
                    }    
                    &:nth-child(3){                
                        flex:0 0 32%;
                        justify-content:flex-end;
                        .step-content{
                            background: $color-Shopping-Step;                    
                        }
                    }                   
                    .step-content{                    
                        padding: 10px 0;
                        border-radius: 5px;              
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        @include sm-screen(){
                            width: 120%;
                        }
                        @include tablet(){
                            width: 100%;
                        }
                        .text{
                            display: flex;                    
                            justify-content: center;
                            align-items: center;
                            color:#ffffff;
                            p{
                                margin: 0;
                                font-size: $H4-font-size;
                                letter-spacing: $font-letter-space-200;
                            }
                            .text-content{                        
                                text-align: left;    
                                @include tablet(){
                                    display: none;
                                }                                            
                                p{
                                    &:nth-child(1){                                
                                        font-size: $H10-font-size;
                                        letter-spacing: $font-letter-space-50;                                
                                    }
                                    &:nth-child(2){                                        
                                        font-size: $H11-font-size;
                                        letter-spacing: $font-letter-space-100;
                                        @include sm-screen(){
                                            letter-spacing: $font-letter-space-50;
                                        }
                                    }
                                }                     
                            }
                        }
                    }
                    .step-right-line{
                        position: relative;
                        width: 20%;
                        height: 3px;
                        background: $color-Shopping-Step-line;            
                    }
                    .step-left-line{
                        width: 20%;
                        height: 3px;
                        background: $color-Shopping-Step-line;
                    }                
                }
            }
            .shopping-container{
                width: 100%;
                margin-top: 30px;
                display: flex;
                position: relative;
                transition: 1s;
                @include bg-screen(){
                    flex-direction: column;
                    align-items: flex-end;
                }
                @include bg-phone(){
                    align-items: center;
                }
                .web-title{
                    position: absolute;
                    top: 0px;
                    left: -130px;
                    font-size: 98px;
                    @include tablet(){
                        display: none;
                    }
                    p{
                        margin: 0px;
                        -webkit-writing-mode: vertical-lr;
                        writing-mode: vertical-lr;
                        color: $color-White;
                    }
                }
                .shopping-order{                
                    max-width: 1141px;
                    width: 100%;
                    min-height:452px;
                    background: $color-White;
                    border: 1px solid $color-Apricot;
                    @include bg-screen(){
                        margin-bottom: 35px;
                    }
                    @include bg-phone(){
                        margin-bottom: 800px;
                    }
                    .order-title{
                        width: 100%;
                        padding-top: 20px;
                        ul{
                            width: 100%;
                            padding: 10px 0;
                            display: flex;
                            border-bottom: 1px solid $color-Gainsboro;
                            .title{
                                display: flex;
                                justify-content: center;
                                flex: 0 0 12%;
                                font-family: $font-Family-A;
                                font-weight: $font-Weight-B;
                                font-size: $H10-font-size;
                                letter-spacing: $font-letter-space-100;
                                transition: 1s;
                                &:nth-child(2){
                                    flex: 0 0 28%;
                                    
                                }  
                                @include tablet(){
                                flex: 0 0 12%;

                                }
                                @include bg-phone(){
                                    flex: 0 0 17%;
                                    &:nth-child(6){
                                        display: none;
                                    }
                                    &:nth-child(7){
                                        display: none;
                                    }
                                }   
                                @include sm-phone(){
                                    &:nth-child(3){
                                        display: none;
                                    }  
                                    &:nth-child(4){
                                        display: none;
                                    }  
                                    &:nth-child(5){
                                        display: none;
                                    }  
                                }                
                            }
                        }
                    }
                    .shopping-cart{
                        width: 100%;
                        padding-top: 20px;      
                        @include sm-phone(){
                            padding-bottom: 50px;    
                        }          
                        ul{
                            width: 100%;                    
                            display: flex;                    
                            .order-cart{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex: 0 0 12%;
                                font-family: $font-Family-A;
                                font-weight: $font-Weight-B;
                                font-size: $H10-font-size;
                                transition: 1s;
                                @include tablet(){
                                    flex: 1 0 11%; 
                                }
                                @include bg-phone(){
                                    flex: 0 0 17%;
                                }
                                &.content{
                                    flex: 0 0 28%;
                                    transition: 1s;
                                    @include sm-phone(){
                                        flex: 0 0 32%; 
                                    }
                                }
                            }
                            .img{
                                img{
                                    max-width: 90px;
                                    width: 100%;
                                    max-height: 90px;
                                    object-fit: contain;
                                    object-position: center;
                                    transition: 1s;
                                    @include sm-phone(){
                                        max-width: unset;
                                        max-height: unset;
                                        width: 90px;
                                        height: 90px;
                                        margin-right: 10px;
                                        margin-left: 20px;
                                    }
                                }
                            }
                            .content{
                                .cart-content{
                                    min-height: 90px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    @include sm-phone(){
                                        width: 183px;
                                    }
                                    .cart-title{                            
                                        color:$color-Nav-icon;
                                        p{
                                            font-size: $H10-font-size;
                                            font-weight: lighter;
                                            margin: 0;
                                        }               
                                    }
                                    .cart-text{
                                        color: $color-Gainsboro;
                                        font-size: $H11-font-size;
                                        font-weight: lighter;
                                        p{
                                            margin: 0;
                                        }
                                    }
                                }                        
                            }
                            .price{                        
                                .discount{
                                    text-align: center;
                                    p{                
                                        margin: 0;
                                        font-weight: lighter;                
                                        &:nth-child(1){
                                            font-family: $font-Family-A;
                                            font-size: $H9-font-size;                                
                                            color: $color-Nav-icon;
                                        }
                                        &:nth-child(2){
                                            position: relative;
                                            font-family: $font-Family-A;
                                            font-size: $H11-font-size;                                
                                            color: $color-PaleBlue;
                                            &::after{
                                                content: '';
                                                position: absolute;
                                                top: 50%;
                                                left: 0;
                                                width: 100%;
                                                height: 1px;
                                                background-color: $color-PaleBlue;
                                            }
                                        }
                                    }
                                }
                            }
                            .count{
                                .less,.plus{
                                    width: 13px;
                                    font-size: $H6-font-size;
                                    cursor: pointer;
                                    color: $color-Nav-icon;
                                }
                                .less:hover{
                                    color: $color-Apricot;
                                }
                                .plus:hover{
                                    color: $color-Apricot;
                                }
                                input{
                                    margin: 0 5px;
                                    text-align: center;
                                    background-color: $color-Periwinkle;
                                    outline: none;
                                    border: none;
                                    -webkit-appearance: none;
                                    &[type=number]::-webkit-outer-spin-button,
                                    &[type=number]::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    }
                                }
                            }
                            .subtotal{
                                p{
                                    margin: 0;
                                    font-family: $font-Family-A;
                                    font-size: $H9-font-size;                                
                                    color: $color-Nav-icon;
                                    font-weight: lighter;
                                }
                            }
                            .delete-cart{
                                .delete{                            
                                    .delete-button{                                
                                        padding: 5px;
                                        cursor: pointer;
                                        font-family: $font-Family-A;
                                        font-size: $H9-font-size;                                
                                        color: $color-Nav-icon;
                                        &:hover{
                                            color: $color-Apricot;
                                        }
                                    }
                                }
                            }
                            .favorite{
                                input[type="checkbox"]{
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    position: relative;
                                    outline: none;
                                    border: 0;
                                    cursor: pointer;
                                    &::after {
                                        content:"";
                                        position: absolute;
                                        height: 4px;
                                        width: 4px;
                                        top: -6px;
                                        left: 11.5px;
                                        border-radius: 50%;
                                    }
                                    &:focus::after {
                                        animation: firework .5s ease forwards .1s;
                                    }
                                    &:checked+label>.fa-star{
                                        animation: star-fold 1s linear;
                                        color: $color-Apricot;
                                    }
                                }
                                i{
                                    padding: 5px;
                                    cursor: pointer;
                                    font-size: $H9-font-size;                                
                                    color: $color-Nav-icon;
                                    &:hover{
                                        color: $color-Apricot;
                                    }
                                }
                            }
                            //收藏效果
                            @keyframes firework {
                            0% {
                                opacity: 1;
                                box-shadow: 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot, 0 0 0 -2px $color-Apricot;
                            }
                            30% {
                                opacity: 1;
                            }
                            100% {
                                opacity: 0.0;
                                box-shadow: 0 -15px 0 0px $color-Apricot, 14px -8px 0 0px $color-Apricot, 14px 8px 0 0px $color-Apricot, 0 15px 0 0px $color-Apricot, -14px 8px 0 0px $color-Apricot, -14px -8px 0 0px $color-Apricot;
                            }
                            }
                            @keyframes star-fold {
                                0%{
                                    transform: rotate(0deg);
                                    color: $color-Nav-icon;
                                }
                                31%{
                                    transform: rotate(270deg);
                                    color: $color-Apricot;
                                }
                                100%{
                                    transform: rotate(360deg);
                                    color: $color-Apricot;
                                }
                                
                            }
                        }
                        @include bg-phone(){
                            &:nth-child(2){
                                ul{
                                    .delete-cart{
                                        position: absolute;
                                        top: 90px;
                                        right: 4vw;
                                    } 
                                    .favorite{
                                        position: absolute;
                                        top: 155px;
                                        right: 3.5vw;
                                    } 
                                }
                            }
                            &:nth-child(3){
                                ul{
                                    .delete-cart{
                                        position: absolute;
                                        top: 220px;
                                        right: 4vw;
                                    } 
                                    .favorite{
                                        position: absolute;
                                        top: 285px;
                                        right: 3.5vw;
                                    } 
                                }
                            }
                            &:nth-child(4){
                                ul{
                                    .delete-cart{
                                        position: absolute;
                                        top: 350px;
                                        right: 4vw;
                                    } 
                                    .favorite{
                                        position: absolute;
                                        top: 415px;
                                        right: 3.5vw;
                                    } 
                                }
                            }
                        }
                        @include sm-phone(){
                            &:nth-child(2){
                                ul{
                                    .price{
                                        position: absolute;
                                        top: 197px;
                                        left: 25px;
                                    } 
                                    .count{
                                        position: absolute;
                                        top: 197px;
                                        left: 125px;
                                    } 
                                    .subtotal{
                                        position: absolute;
                                        top: 200px;
                                        left: 265px;
                                    }
                                    .delete-cart{
                                        top: 90px;
                                    } 
                                    .favorite{
                                        top: 165px;
                                    }   
                                }
                            }
                            &:nth-child(3){
                                ul{
                                    .price{
                                        position: absolute;
                                        top: 377px;
                                        left: 25px;
                                    } 
                                    .count{
                                        position: absolute;
                                        top: 377px;
                                        left: 125px;
                                    } 
                                    .subtotal{
                                        position: absolute;
                                        top: 380px;
                                        left: 265px;
                                    }
                                    .delete-cart{
                                        top: 265px;
                                    } 
                                    .favorite{
                                        top: 345px;
                                    }   
                                }
                            }
                            &:nth-child(4){
                                ul{
                                    .price{
                                        position: absolute;
                                        top: 550px;
                                        left: 25px;
                                    } 
                                    .count{
                                        position: absolute;
                                        top: 550px;
                                        left: 125px;
                                    } 
                                    .subtotal{
                                        position: absolute;
                                        top: 555px;
                                        left: 265px;
                                    }
                                    .delete-cart{
                                        top: 440px;
                                    } 
                                    .favorite{
                                        top: 520px;
                                    }  
                                }
                            } 
                        }
                    }
                }
                .payment-shipping{
                    position: relative;
                    max-width: 371px;
                    width: 100%;
                    min-height:452px;
                    margin-left: 2vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $color-White;
                    border: 1px solid $color-Apricot;
                    @include bg-screen(){
                        margin-left: unset;
                    }
                    @include tablet(){
                        margin-right: 20px;
                    }
                    @include bg-phone(){
                        margin-right: unset;
                    }
                    h3{
                        position: absolute;
                        top: 20px;
                        text-align: center;
                        font-size: $H5-font-size;
                        letter-spacing: $font-letter-space-200;
                    }
                    .shipping{
                        width: 100%;
    
                        .shipping-select{
                            position: relative;
                            width: 80%;
                            margin: auto;
                            padding: 10px 0;
                            h5{
                                position: absolute;
                                top: 3px;
                                left: 15px;
                                margin: 0;
                                background-color: white;
                                font-size: $H10-font-size;
                            }
                            select{                            
                                width: 100%;
                                padding: 10px 10px;
                                border-radius: 5px;
                                border: 1px solid $color-Background-line;
                                outline: none;
                                font-size: $H10-font-size;
                                color: $color-Nav-icon;                  
                            }            
                        }
                        .business{
                            width: 80%;                
                            margin: auto;
                            padding: 5px 10px;
                            color: $color-Nav-icon;
                            background-color: $color-Background-line;
                            font-size: $H11-font-size;
                            letter-spacing: $font-letter-space-50;
                        }
                        .choose{
                            padding-top: 20px;                        
                            width: 80%;                
                            margin: auto;
                            display: flex;
                            justify-content: flex-end;
                            .choose-button{       
                                font-size: $H11-font-size;                     
                                padding: 5px 15px;
                                background: white;
                                border: 1px solid $color-Nav-icon;
                                border-radius: 10px;
                                outline: none;
                                transition: .5s;
                                @include button-focus();
                                @include button-hover();
                            }
                        }
                    }
                }
            }
            .other-amount{
                width: 100%;
                display: flex;
                position: relative;
                transition: 1s;
                @include bg-screen(){
                    justify-content: flex-end;
                }
                @include bg-phone(){
                    justify-content: center;
                }
                .other-discount{    
                    margin-top: 20px;            
                    max-width: 1141px;
                    width: 100%;
                    transition: 1s;
                    @include bg-screen(){
                        max-width: 740px;
                        position: absolute;
                        bottom: 355px;
                        left: 0px;
                    }
                    @include sm-screen(){
                        max-width: 350px;
                        bottom: 15px;
                    }
                    @include tablet(){
                        margin-left: 20px;
                    }
                    @include bg-phone(){
                        margin-left: unset;
                        bottom: 780px;
                        left: 29vw;
                    }
                    @include sm-phone(){
                        max-width: 100vw;
                        left:unset;
                    }
                    .other-tital{
                        display: flex;
                        align-items: center;
                        padding:10px 20px;
                        border-radius: 5px;
                        background: $color-SkyBlue;
                        color: $color-White;
                        letter-spacing: $font-letter-space-100;
                        p{
                            margin: 0;
                            padding: 0 5px;
                            font-size: $H6-font-size;                    
                        }
                    }
                    .other-card{
                        width: 100%;
                        margin-top: 15px;
                        padding: 0 10px;
                        display: flex;
                        transition: 1s;
                        @include bg-screen(){
                            width: 103%;
                            flex-wrap: wrap;
                        }
                        @include sm-screen(){
                            padding:0px;
                        }
                        @include sm-phone(){
                            width: 100%;
                            padding-left: 10px;
                        }
                        .commodity{
                            display: flex;
                            @include bg-screen(){
                                min-width: 370px;
                                margin-bottom: 60px;
                            }
                            @include sm-screen(){
                                min-width: 350px;
                            }
                            @include sm-phone(){
                                min-width: 300px;
                            }
                            .photo{
                                max-width: 112px;
                                width: 100%;                        
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .commodity-content{  
                                padding:0 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .title{
                                    font-size: $H11-font-size;
                                    color: $color-IronGray;
                                    margin-bottom: 20px;
                                }
                                .content-buttone{
                                    p{
                                        margin: 0;
                                        color: $color-Apricot;
                                        font-size: $H7-font-size;
                                        font-weight: $font-Weight-B;
                                    }
                                    .push-cart{
                                        border: 1px solid $color-Nav-icon;
                                        border-radius: 10px;
                                        outline: none;
                                        padding: 5px 20px;
                                        transition: .5s;
                                        font-size: $H11-font-size;
                                        @include button-hover();
                                        @include button-focus();
                                    }
                                }
                            }
                        }
                    }
                }
                .amount{
                    margin-top: 5px;
                    margin-left: 2vw;
                    max-width: 371px;
                    width: 100%;
                    @include tablet(){
                        margin-left: unset;
                        margin-right: 20px;
                    }
                    @include bg-phone(){
                        margin-right:unset;
                    }
                    .free-ship{
                        display: flex;
                        font-size: $H11-font-size;
                        font-weight: $font-Weight-B;                
                        align-items: center;
                        p{
                            margin: 0;
                            margin-right: 5px;
                            padding: 5px;
                            font-size: $H9-font-size;
                            background-color: $color-Apricot;
                            color: $color-White;
                            border-radius: 5px;
                        }
                    }
                    .total{
                        padding-top: 20px;
                        .price-total{
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 5px;
                            p{                        
                                margin: 0;
                                font-size: $H10-font-size;   
                                font-weight: $font-Weight-B;                         
                            }
                        }
                    }
                    .order-total-button{
                        width: 100%;
                        padding-top: 10px;
                        @include bg-screen(){
                            margin-bottom: 80px;
                        }
                        .order-total{
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            padding-bottom: 20px;
                            p{
                                width: 55%;
                                font-size: $H9-font-size;
                                margin: 0; 
                                padding-bottom: 10px;                           
                                text-align: end;
                            }
                            .order-total-price{
                                width: 45%;       
                                padding: 0;                     
                                color: $color-Apricot;
                                font-weight: $font-Weight-B;
                                font-size: $H3-font-size;
                                text-align: end;
                            }                
                        }
                        .next-a{
                            cursor: pointer;
                            width: 100%;
                            border: none;
                            outline: none; 
                            text-decoration: none;                       
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;                            
                            align-items: center;
                            background-color: $color-Apricot;
                            font-size: $H4-font-size;                        
                            letter-spacing: $font-letter-space-200;
                            color: $color-White;
                            position: relative;
                            z-index: 0;
                            overflow: hidden;
                            .anim {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                z-index: -1;
                                transform: translate(-50%,-50%);
                            
                                &:before {
                                    position: relative;
                                    content: '';
                                    display: block;
                                    margin-top: 100%;
                                }
                                
                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom:0;
                                    left: 0;
                                    right: 0;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }            
        }
    }
}
.clickable {    
    &:hover .anim{        
        animation:anim-out .75s;
        &:after {         
            animation:anim-out-pseudo .75s;
        }        
    }
}
@keyframes anim-out
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}
@keyframes anim-out-pseudo
{
    0%
    {
        background: rgba(#000,0.25);
    }
    100%
    {
        background: rgba(#000,0);
    }
}
footer{
    height: 0px!important;
    .site-footer{
        .container{
            @include sm-screen(){
                max-width: 880px;
            }
            .return-nav{
                .footer-arrow{
                    @include arrow(){
                        position: absolute;
                        top: 225px!important;
                        right: 2vw!important;
                    }
                    @include iphone(){
                        top: 158px!important;
                        right: 2vw!important;
                    }
                    
                }
            }
        }
    }
}


