@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
    &:focus{
        outline: none;
    }
}
// 標題樣式
@mixin title-style {
    font-size: $H5-font-size;
    color: $color-IronGray;
    letter-spacing: $font-letter-space-200;
}
//input 樣式
@mixin input-style {
    label{
        font-size: $H8-font-size;
        font-weight: bold;
        color: $color-Nav-icon;
        margin: 0px;
    }
    input{
        border: none;
        border-bottom: 1px solid $color-WedgwoodBlue;
        background-color: unset;
        position:relative;
        width: 261px;
        font-size: $H11-font-size;
        color: $color-Nav-icon;
        &:focus{
            &::-webkit-input-placeholder { 
                color:transparent; 
            }
        }
    }
}
//check樣式
@mixin checkbox{
    input{
        opacity:0;
        position: relative;
    }
    .checkmark + label {
     display: grid;
     grid-template-columns: 5px auto;
     grid-template-rows: auto auto;
     align-items: center;
     column-gap: 1em;
     position: relative;
     cursor: pointer;
     }
  .checkmark[type="checkbox"] + label::before{
     content: "";
     width: 17px;
     height: 17px;
     border: 1px solid $color-Textarea-Text;
    }
    .checkmark[type="checkbox"] + label::after {
     content: "\2713";
     color: white;
     font-size: 12px;
     position: absolute;
     top: 2.5px;
     left: 2.5px;
     transform: scale(0);
     transition: all 300ms ease-in-out;
  }
  .checkmark[type="checkbox"]:checked + label::before {
     background-color: $color-Textarea-Text;
  }
  .checkmark[type="checkbox"]:checked + label::after {
     transform: scale(1);
  }
}
//1760
@mixin bg-screen{
    @media(max-width:1760px){
        @content;
        transition: 1s;
    }
}
//1350
@mixin sm-screen{
    @media(max-width:1350px){
        @content;
        transition: 1s;
    }
}
//1200
@mixin bg-arrow{
    @media(max-width:1200px){
        @content;
        transition: 1s;
    }
}
//1100
@mixin tablet{
    @media(max-width:1100px){
        @content;
        transition: 1s;
    }
}
//1024
@mixin arrow{
    @media(max-width:1024px){
        @content;
        transition: 1s;
    }
}
//960
@mixin bg-phone{
    @media(max-width:960px){
        @content;
        transition: 1s;
    }
}
//850
@mixin phone{
    @media(max-width:850px){
        @content;
        transition: 1s;
    }
}
//620
@mixin sm-phone{
    @media(max-width:620px){
        @content;
        transition: 1s;
    }
}
//320
@mixin iphone{
    @media(max-width:320px){
        @content;
        transition: 1s;
    }
}
//button hover effect
@mixin button-hover {
    position: relative;
    display: block;
    overflow: hidden; 

    &,&:after{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    &::after {
        background: $color-Apricot;
        content: '';
        position: absolute;
        z-index: -1;

        height: 100%;
        left: -35%;
        top: 0;
        transform: skew(5deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
      }
    &:hover:after {
        width: 135%;
    }
    &:hover{
        color: $color-White;
        border: unset;
    }
    
}
//button focus effect
@mixin button-focus {
    transition: color 300ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-in-out;
        transition: 200ms ease-in-out;                            
    }
    @keyframes colorFade {
        0% { background: rgba($color-Apricot,0.25); }
        100% { background: rgba($color-Apricot,1); }
    }
    &:focus:before{
        -webkit-transform: scale(2);
        transform: scale(2);
        animation: colorFade 1s ease-in-out;
        background: darken(darken($color-Apricot,7%),2.5%);
    }
    &:focus{
        color: $color-White;
        border: unset;
    }
    &:focus:after{
        display: none;
    }       
}
main{
    .main-container{
        background: $color-LightGray;
        min-height: 100vh;
        .my-container{
            height: 100%;
            max-width: 1550px;
            padding-top: 15.7vh;
            padding-bottom: 50px;
            @include bg-screen(){
                padding:15.7vh 6.7vw 50px 6.7vw;
            }
            @include sm-phone(){
                padding: 5.7vh 0px 50px 0px;  
            }
            .steps{
                display: flex;
                padding: 0 10px;
                max-width: 1141px;
                .step{
                    display: flex;
                    align-items: center;                
                    &:nth-child(1){
                        flex:0 0 32%;
                        justify-content: start;                      
                        .step-content{
                            background: $color-Shopping-Step;                    
                        }
                        .step-right-line{
                            &::after{
                                content:'';
                                display: block;                                      
                                width: 100%;
                                height: 100%;
                                background: $color-Shopping-Step-line;
                            }
                        }
                    }
                    &:nth-child(2){  
                        flex:0 0 36%;
                        justify-content: center;              
                        .step-content{
                            background: $color-SkyBlue;                  
                        }
                        .step-left-line{
                            background: $color-SkyBlue; 
                        }
                    }    
                    &:nth-child(3){                
                        flex:0 0 32%;
                        justify-content:flex-end;
                        .step-content{
                            background: $color-Shopping-Step;                    
                        }
                    }                   
                    .step-content{                    
                        padding: 10px 0;
                        border-radius: 5px;              
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        @include sm-screen(){
                            width: 120%;
                        }
                        @include tablet(){
                            width: 100%;
                        }
                        .text{
                            display: flex;                    
                            justify-content: center;
                            align-items: center;
                            color:#ffffff;
                            p{
                                margin: 0;
                                font-size: $H4-font-size;
                                letter-spacing: $font-letter-space-200;
                            }
                            .text-content{
                                @include bg-phone(){
                                    display: none;
                                }                        
                                text-align: left;                                                
                                p{
                                    &:nth-child(1){                                
                                        font-size: $H10-font-size;
                                        letter-spacing: $font-letter-space-50;                                
                                        
                                    }
                                    &:nth-child(2){                                        
                                        font-size: $H11-font-size;
                                        letter-spacing: $font-letter-space-100;
                                        @include sm-screen(){
                                            letter-spacing: $font-letter-space-50;
                                        }
                                    }
                                }                  
                            }
                        }
                    }
                    .step-right-line{
                        position: relative;
                        width: 20%;
                        height: 3px;
                        background: $color-Shopping-Step-line;            
                    }
                    .step-left-line{
                        width: 20%;
                        height: 3px;
                        background: $color-Shopping-Step-line;
                    }                
                }
            }
            .shopping-container{
                width: 100%;
                margin-top: 30px;
                display: flex;
                position: relative;
                @include tablet(){
                    flex-direction: column;        
                }
                .web-title{
                    position: absolute;
                    top: 0px;
                    left: -130px;
                    font-size: 98px;
                    @include sm-screen(){
                        display: none;
                    }
                    p{
                        margin: 0px;
                        -webkit-writing-mode: vertical-lr;
                        writing-mode: vertical-lr;
                        color: $color-White;
                    }
                }
                .shopping-order{                
                    max-width: 1141px;
                    width: 100%;
                    min-height:452px;
                    background: $color-White;
                    border: 1px solid $color-Apricot;
                    padding: 2vh 1vw;
                    transition: 1s;
                    @include sm-phone(){
                        padding: 3vh  0px;
                    }
                   .shopping-information{
                       max-width: 840px;
                       margin: auto;
                       .shopping-title{
                           width: 100%;
                           text-align: center;
                           margin-bottom: 10px;
                           font-size: $H5-font-size;
                            .total-price{
                              @include title-style();
                           }
                            &::after{
                                content:'\f077';
                                font-family: "Font Awesome 5 Free"; 
                                font-size: $H5-font-size;                           
                                font-weight: 600;
                                }
                            &.active::after{
                                content:'\f078';
                                font-family: "Font Awesome 5 Free"; 
                                font-size: $H5-font-size;                           
                                font-weight: 600;
                            }
                       }
                       .commodity-content{
                           transition: 1s;
                       }
                       .commidity-information{
                           .shopping-cart{
                               width: 100%;
                               ul{
                                   width: 100%;
                                   margin: 0;
                                   padding: 0 15px;
                                   padding-bottom: 20px;
                                   display: flex;
                                   justify-content: space-between;
                                   @include sm-phone(){
                                       flex-direction: column;
                                   }
                                    .order-cart{
                                            &.content{
                                                flex: 0 0 80%;
                                            }
                                    }
                                    .img-content{
                                        display: flex;
                                            img{
                                            max-width: 90px;
                                            width: 100%;
                                            max-height: 90px;
                                            object-fit: contain;
                                            object-position: center;
                                            margin-right: 15px;   
                                            }
                                            .cart-content{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            .cart-title{                            
                                                color:$color-IronGray;
                                                font-size: $H10-font-size;
                                                @include sm-phone(){
                                                    width: 182px;
                                                }
                                                p{
                                                    margin: 0; 
                                                }               
                                            }
                                            .cart-text{
                                                color: $color-Gainsboro;
                                                font-size: $H11-font-size;
                                                p{
                                                    margin: 0;
                                                }
                                                }
                                            }   
                                        
                                    }
                                    .amount-price{
                                        color:$color-IronGray;
                                        font-size: $H11-font-size;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;
                                        justify-content: flex-end;
                                        @include sm-phone(){
                                            margin-top: 5px;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            align-items: flex-start;
                                        }
                                    }
                               }
                           }
                       }
                       .shipping{
                           width: 100%;
                           display: flex;
                           justify-content: flex-end;
                           padding: 0 15px;                       
                           .shipping-content{
                                width: 200px;
                                display: flex;
                                flex-direction: row;
                                align-items: flex-end;
                                justify-content: space-between;
                                margin-top: 20px;
                                @include sm-phone(){
                                    width: 100%;
                                }
                                .shipping-text{
                                    color:$color-IronGray;
                                }
                                .shipping-price{
                                    font-size: $H3-font-size;
                                    color:$color-IronGray;
                                    line-height: 36px;
                                }
                           }
                            
                       }
                   }
                   .receipt{
                        max-width: 840px;
                        margin: auto;
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                       border-top: 1px solid $color-Background-line;
                       border-bottom: 1px solid $color-Background-line;
                       margin-top: 10px;
                       .receipt-title{
                            @include title-style();
                            margin-top: 30px;
                       }
                       .receipt-method{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            transition: 1s;
                            @include sm-phone(){
                                flex-direction: column;
                                align-items: center;
                                margin-top: 20px;
                            }
                            .receipt-type{
                                font-size: $H8-font-size;
                                font-weight: $font-Weight-B;
                                color: $color-Nav-icon;
                                @include sm-phone(){
                                    margin-bottom: 20px;
                                }
                                .type-title{
                                    margin-bottom: 5px;
                                }
                            }
                            .vehicle-type{
                                font-size: $H8-font-size;
                                font-weight: $font-Weight-B;
                                color: $color-Nav-icon;
                                @include sm-phone(){
                                    margin-bottom: 20px;
                                }
                                .type-title{
                                    margin-bottom: 5px;
                                }
                            }
                            select{
                                width: 266px;
                                height: 32px;
                                font-size: $H10-font-size;
                                color: $color-Nav-icon;
                                border: 1px solid $color-Background-line;
                                
                            }
                       }
                   }
                   .order-remarks{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                       .remarks-title{
                           @include title-style();
                           margin-bottom: 20px;
                       }
                       .remarks-textarea{
                           width: 100%;
                           display: flex;
                           justify-content: center;
                        textarea{
                            max-width: 701px;
                            width: 100%;
                            height: 146px;
                            padding: 15px 15px;
                            color: $color-Textarea-Text;
                            border: 1px solid $color-Background-line;
                            &:focus{
                                outline: none;
                            }
                            &::-webkit-input-placeholder{
                                color: $color-Textarea-Text;
                            }
                            
                        }
                       }
                       
                       .checkbox{
                           margin-top: 10px;
                           font-size: $H8-font-size;
                           color: $color-Nav-icon;
                           @include checkbox();
                       }
                   }
                }
                .customer-info{
                    position: relative;
                    max-width: 371px;
                    width: 100%;
                    min-height:452px;
                    margin-left: 2vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: 1s;
                    @include tablet(){
                        max-width: unset;
                        margin-left: unset;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: space-between;
                        margin-top: 20px;
                    }
                    @include phone(){
                        flex-direction: column;
                        align-items: center;
                    }
                    .orderer-info{
                        max-width: 371px;
                        width: 100%;
                        background-color: $color-White;
                        border: 1px solid $color-Apricot;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 20px;
                        @include bg-phone(){
                            margin-bottom: 20px;
                        }
                        .orderer-container{
                            max-width: 261px;
                            margin: auto;
                            .orderer-title{
                                font-size: $H5-font-size;
                                letter-spacing: $font-letter-space-200;
                                text-align: center;
                            }
                            .orderer-name{
                                @include input-style(); 
                                margin-top: 20px;
                            }
                            .orderer-phone{
                                @include input-style();
                                margin-top: 20px;
                            }
                            .orderer-email{
                                @include input-style();
                                margin-top: 20px;
                                margin-bottom: 30px;
                            }
                        }  
                    }
                    .recipient-info{
                        width: 100%;
                        @include tablet(){
                            max-width: 371px;
                        }
                        .addressee{
                            width: 100%;
                            min-height: 509px;
                            background-color: $color-White;
                            border: 1px solid $color-Apricot;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            padding:20px 0px ;
                            margin: 32px auto;
                            @include tablet(){
                                margin: unset;
                            }
                            // @include bg-phone(){
                            //     margin-top: 32px;
                            // }
                            .addressee-title{
                                font-size: $H5-font-size;
                                letter-spacing: $font-letter-space-200;
                            }
                            .shipping-type{
                                min-width: 295px;
                                min-height: 33px;
                                background-color: $color-Textarea-Text;
                                text-align: center;
                                line-height: 33px;
                                p{
                                    font-size: $H8-font-size;
                                    color: $color-White;
                                    margin: 0px;
                                }
                            }
                            .addressee-info{
                                .addressee-check{
                                    label{
                                        font-size: $H10-font-size;
                                        color: $color-Nav-icon;
                                    }
                                    @include checkbox();
                                }
                                .addressee-name{
                                    @include input-style();
                                    
                                    p{
                                        margin: 0px;
                                        font-size: $H11-font-size;
                                        color: $color-Textarea-Text;
                                    }
                                }
                                .addressee-phone{
                                    @include input-style();
                                    margin-top: 20px;
                                }
                            }
                            .shipping-info{
                                min-width: 295px;
                                min-height: 103px;
                                padding: 10px 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                background-color: $color-Textarea-Text;
                                font-size: $H11-font-size;
                                color: $color-White;
                            }
                            button{
                                width: 150px;
                                height: 40px;
                                border: 1px solid $color-Textarea-Text;
                                background-color: unset;
                                border-radius: 10px;
                                font-size: $H10-font-size;
                                color: $color-Nav-icon;
                                @include button-hover();
                                @include button-focus();
                            }
                        }
                        .payment{
                            width: 100%;
                            min-height: 135px;
                            background-color: $color-White;
                            border: 1px solid $color-Apricot;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            @include tablet(){
                                margin-top: 20px;
                            }
                            .payment-title{
                                font-size: $H5-font-size;
                                letter-spacing: $font-letter-space-200;
                                margin-bottom: 10px;
                            }
                            .payment-type{
                                min-width: 295px;
                                min-height: 33px;
                                background-color: $color-Textarea-Text;
                                text-align: center;
                                line-height: 33px;
                                p{
                                    font-size: $H8-font-size;
                                    color: $color-White;
                                    margin: 0px;
                                }
                            }
                        }
                    }                   
                }
            }
            .other-amount{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                @include phone(){
                    flex-direction: column-reverse;
                    align-items: center;
                }
                @include sm-phone(){
                    padding: 0px 10px;
                }
                .back-button{
                    font-size: $H5-font-size;
                    color: $color-IronGray;
                    border: 0px;
                    background-color: unset;
                    @include phone(){
                        margin-top: 40px;
                    }
                }
                .amount{
                    margin-top: 15px;
                    margin-left: 2vw;
                    max-width: 371px;
                    width: 100%;
                    @include bg-phone(){
                        margin-left: unset;
                    }
                    .free-ship{
                        display: flex;
                        font-size: $H11-font-size;
                        font-weight: $font-Weight-B;                
                        align-items: center;
                        p{
                            margin: 0;
                            margin-right: 5px;
                            padding: 5px;
                            font-size: $H9-font-size;
                            background-color: $color-Apricot;
                            color: $color-White;
                            border-radius: 5px;
                        }
                    }
                    .total{
                        padding-top: 20px;
                        .price-total{
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 5px;
                            p{                        
                                margin: 0;
                                font-size: $H10-font-size;                            
                            }
                        }
                    }
                    .order-total-button{
                        width: 100%;
                        padding-top: 10px;
                        .order-total{
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            padding-bottom: 20px;
                            p{
                                width: 55%;
                                font-size: $H9-font-size;
                                margin: 0; 
                                padding-bottom: 10px;                           
                                text-align: end;
                            }
                            .order-total-price{
                                width: 45%;       
                                padding: 0;                     
                                color: $color-Apricot;
                                font-weight: $font-Weight-B;
                                font-size: $H3-font-size;
                                text-align: end;
                            }                
                        }
                        .next-button{
                            cursor: pointer;
                            width: 100%;
                            border: none;                            
                            border-radius: 5px;
                            outline: none;
                            background: $color-Apricot;
                            color: $color-White;
                            font-size: $H4-font-size;
                            letter-spacing: $font-letter-space-200;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            z-index: 0;
                            overflow: hidden;
                            .anim {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                z-index: -1;
                                transform: translate(-50%,-50%);
                            
                                &:before {
                                    position: relative;
                                    content: '';
                                    display: block;
                                    margin-top: 100%;
                                }
                                
                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom:0;
                                    left: 0;
                                    right: 0;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }            
        }
    }
}
.clickable {    
    &:hover .anim{        
        animation:anim-out .75s;
        &:after {         
            animation:anim-out-pseudo .75s;
        }        
    }
}
@keyframes anim-out
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}
@keyframes anim-out-pseudo
{
    0%
    {
        background: rgba(#000,0.25);
    }
    100%
    {
        background: rgba(#000,0);
    }
}
footer{
    height: 0px!important;
    .site-footer{
        .container{
            @include bg-arrow(){
                max-width: 1140px;
            }
            @include tablet(){
                max-width: 900px;
            }
            .return-nav{
                .footer-arrow{
                    @include arrow(){
                        position: absolute;
                        top: 225px!important;
                        right: 5vw!important;
                    }
                    @include iphone(){
                        top: 158px!important;
                        right: 2vw!important;
                    }
                    
                }
            }
        }
    }
}

