@import '_style_guild.scss';
*{
    list-style: none;   
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
}
//1760
@mixin bg-screen{
    @media(max-width:1760px){
        @content;
        transition: 1s;
    }
}
//1350
@mixin sm-screen{
    @media(max-width:1350px){
        @content;
        transition: 1s;
    }
}
//1110
@mixin ex-screen{
    @media(max-width:1110px){
        @content;
        transition: 1s;
    }
}
//1024
@mixin arrow{
    @media(max-width:1024px){
        @content;
        transition: 1s;
    }
}
//960
@mixin tablet{
    @media(max-width:960px){
        @content;
        transition: 1s;
    }
}
//760
@mixin bg-phone{
    @media(max-width:760px){
        @content;
        transition: 1s;
    }
}
//620
@mixin sm-phone{
    @media(max-width:620px){
        @content;
        transition: 1s;
    }
}
//340
@mixin iphone{
    @media(max-width:340px){
        @content;
        transition: 1s;
    }
}
//320
@mixin iphone5s{
    @media(max-width:320px){
        @content;
        transition: 1s;
    }
}
//button hover effect
@mixin button-hover {
    position: relative;
    display: block;
    overflow: hidden; 

    &,&:after{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    &::after {
        background: $color-Apricot;
        content: '';
        position: absolute;
        z-index: -1;

        height: 100%;
        left: -35%;
        top: 0;
        transform: skew(5deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
      }
    &:hover:after {
        width: 135%;
    }
    &:hover{
        color: $color-White;
        border: unset;
    }
    
}
//button focus effect
@mixin button-focus {
    transition: color 300ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-in-out;
        transition: 200ms ease-in-out;                            
    }
    @keyframes colorFade {
        0% { background: rgba($color-Apricot,0.25); }
        100% { background: rgba($color-Apricot,1); }
    }
    &:focus:before{
        -webkit-transform: scale(2);
        transform: scale(2);
        animation: colorFade 1s ease-in-out;
        background: darken(darken($color-Apricot,7%),2.5%);
    }
    &:focus{
        color: $color-White;
        border: unset;
    }
    &:focus:after{
        display: none;
    }       
}
main{
    .main-container{
        background: $color-LightGray;
        min-height: 100vh;
        .my-container{
            height: 100%;
            max-width: 1550px;
            padding: 0;        
            padding-top: 15.7vh;
            padding-bottom: 50px;
            @include bg-screen(){
                padding:15.7vh 6.7vw 50px 6.7vw;
            }
            @include sm-phone(){
                padding:5.7vh 0px 50px 0px; 
            }
            .steps{
                display: flex;
                padding: 0 10px;
                max-width: 1141px;
                .step{
                    display: flex;
                    align-items: center;                
                    &:nth-child(1){
                        flex:0 0 32%;
                        justify-content: start;                      
                        .step-content{
                            background: $color-Shopping-Step;                    
                        }
                        .step-right-line{
                            &::after{
                                content:'';
                                display: block;                                      
                                width: 100%;
                                height: 100%;
                                background: $color-Shopping-Step-line;
                            }
                        }
                    }
                    &:nth-child(2){  
                        flex:0 0 36%;
                        justify-content: center;              
                        .step-content{
                            background: $color-Shopping-Step;                  
                        }
                        .step-left-line{
                            background: $color-Shopping-Step-line; 
                        }
                    }    
                    &:nth-child(3){                
                        flex:0 0 32%;
                        justify-content:flex-end;
                        .step-content{
                            background: $color-SkyBlue;                    
                        }
                        .step-left-line{
                            background: $color-SkyBlue; 
                        }
                    }                   
                    .step-content{                    
                        padding: 10px 0;
                        border-radius: 5px;              
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        @include sm-screen(){
                            width: 120%;
                        }
                        @include tablet(){
                            width: 100%;
                        }
                        .text{
                            display: flex;                    
                            justify-content: center;
                            align-items: center;
                            color:#ffffff;
                            p{
                                margin: 0;
                                font-size: $H4-font-size;
                                letter-spacing: $font-letter-space-200;
                            }
                            .text-content{
                                @include tablet(){
                                    display: none;
                                }                        
                                text-align: left;                                                
                                p{
                                    &:nth-child(1){                                
                                        font-size: $H10-font-size;
                                        letter-spacing: $font-letter-space-50;                                
                                        
                                    }
                                    &:nth-child(2){                                        
                                        font-size: $H11-font-size;
                                        letter-spacing: $font-letter-space-100;
                                        @include sm-screen(){
                                            letter-spacing: $font-letter-space-50;
                                        }
                                    }
                                }                  
                            }
                        }
                    }
                    .step-right-line{
                        position: relative;
                        width: 20%;
                        height: 3px;
                        background: $color-Shopping-Step-line;            
                    }
                    .step-left-line{
                        width: 20%;
                        height: 3px;
                        background: $color-Shopping-Step-line;
                    }                
                }
            }
            .shopping-container{
                width: 100%;
                margin-top: 30px;
                display: flex;
                position: relative;
                @include ex-screen(){
                    flex-direction: column;
                    align-items: flex-end;
                }
                .web-title{
                    position: absolute;
                    top: 0px;
                    left: -130px;
                    font-size: 98px;
                    @include sm-screen(){
                        display: none;
                    }
                    p{
                        margin: 0px;
                        -webkit-writing-mode: vertical-lr;
                        writing-mode: vertical-lr;
                        color: $color-White;
                    }
                }
                .shopping-order{
                    max-width: 1141px;
                    width: 100%;
                    min-height:452px;
                    background: $color-White;
                    border: 1px solid $color-Apricot;
                    transition: 1s;
                    .order-container{
                        max-width: 840px;
                        width: 100%;
                        padding: 32px 0;
                        margin: auto;
                        @include sm-phone(){
                            padding: 3vh 0; 
                        }
                        .order-total{
                            cursor: pointer;
                            text-align: center;
                            font-size: $H5-font-size;                        
                            padding-bottom: 10px;
                            &::after{
                                content:'\f077';
                                font-family: "Font Awesome 5 Free";                            
                                font-weight: 600;
                            }
                            &.active::after{
                                content:'\f078';
                                font-family: "Font Awesome 5 Free";                            
                                font-weight: 600;
                            }
                            p{
                                margin: 0;
                                letter-spacing: $font-letter-space-200;
                            }
                        }
                        .order-commodity{ 
                            overflow: hidden;
                            position: relative;
                            width: 100%;                        
                            border-bottom: 1px solid $color-Background-line;
                            transition: 1s;
                            
                            .order-commodity-content{
                                width: 100%;
                                transition: 1s;                                                       
                                
                                .commodity{
                                    width: 100%;
                                    padding: 0 15px;
                                    padding-bottom: 20px;
                                    display: flex;
                                    @include sm-phone(){
                                        flex-direction: column;
                                    }
                                    .photo-content{
                                        display: flex;
                                        .photo{                           
                                            img{
                                                max-width: 90px;
                                                max-height: 90px;
                                                
                                                object-position: center;
                                                object-fit: cover;
                                                margin-right: 15px;   
                                            }
                                        }
                                        .commodity-content{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;               
                                            .commodity-title{
                                                font-size: $H10-font-size;                                     @include sm-phone(){
                                                    width: 182px;
                                                }                                           
                                                p{
                                                    margin: 0;
                                                }
                                            }
                                            .commodity-size{
                                                color: $color-Gainsboro;
                                                font-size: $H11-font-size;
                                                p{
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                    .commodity-subtotal{
                                        margin-left: auto;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: flex-end;
                                        transition: 1s;
                                        @include sm-phone(){
                                            margin-left: unset;
                                            margin-top: 5px;
                                        }
                                        .quantity-subtotal{
                                            text-align: right;
                                            transition: 1s;
                                            @include sm-phone(){
                                                width: 100%;
                                                display: flex;
                                                justify-content: space-between;
                                            }
                                            p{
                                                margin: 0;
                                                font-size: $H11-font-size;
                                            }
                                        }
                                    }
                                }
                                .order-commodity-shipping{
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    padding: 0 15px;
                                    padding-bottom: 10px;
                                    .order-commodity-shipping-price{
                                        width: 200px;
                                        display: flex;
                                        justify-content: space-between;
                                        margin-top: 20px;
                                        @include sm-phone(){
                                            width: 100%;
                                        }
                                        p,h4{
                                            margin: 0;
                                            display: flex;
                                            align-items: flex-end;
                                        }
                                        p{
                                            font-size: $H8-font-size;
                                        }
                                        h4{
                                            font-size: $H3-font-size;
                                            line-height: 36px;
                                        }
                                    }
                                }
                            }                                            
                        }
                        .order-complete{
                            width: 100%;
                            padding: 30px 0;
                            border-bottom: 1px solid $color-Background-line;
                            display: flex;
                            justify-content: center;
                            @include sm-phone(){
                                flex-direction: column;
                                align-items: center;
                            }
                            .photo-svg{
                                max-width: 158px;
                                width: 100%;
                                padding: 0 20px;
                                @include sm-phone(){
                                    margin-bottom: 20px;
                                }
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .complete-message{
                                h3{
                                    font-size: $H5-font-size;
                                    letter-spacing: $font-letter-space-200;
                                    @include sm-phone(){
                                        text-align: center;
                                    }
                                }
                                p{
                                    margin: 0;
                                    font-size: $H10-font-size; 
                                    @include sm-phone(){
                                        text-align: center;
                                    }                               
                                    &:nth-child(2){
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                        .information{
                            width: 100%;
                            padding: 20px 15px;
                            @include iphone(){
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                            .order-customer-information{
                                display: flex;
                                justify-content: space-between;
                                margin: 20px 0;
                                transition: 1s;  
                                @include bg-phone(){
                                    flex-direction: column;
                                    align-items: center;
                                }                          
                                .information-both{
                                    position: relative;
                                    border: 1px solid $color-Background-line;
                                    padding: 25px 10px 5px 10px;
                                    width: 300px;
                                    @include bg-phone(){
                                        &:nth-child(1){
                                            margin-bottom: 20px;
                                        }
                                    }
                                    h4{
                                        position: absolute;
                                        top: -14px;                                                     
                                        background-color: $color-White;
                                        font-size: $H5-font-size;
                                        font-weight: $font-Weight-B;
                                        letter-spacing: $font-letter-space-200;
                                    }
                                    .information-content{                                    
                                        display: flex;
                                        p{                                        
                                            color: $color-Nav-icon;
                                            
                                            font-size: $H8-font-size;
                                            margin: 0;
                                            &:nth-child(1){
                                                flex:0 0 40%;
                                            }
                                            &:nth-child(2){
                                                flex:0 0 60%;
                                                font-size: $H10-font-size;
                                            }
                                        }
                                    }
                                }                            
                            }
                            .shipping-information{
                                width: 100%;
                                margin-bottom: 20px;                            
                                position: relative;
                                border: 1px solid $color-Background-line;
                                padding: 25px 10px 5px 10px;
                                transition: 1s;
                                @include iphone(){
                                    width: 300px;
                                }
                                h4{
                                    position: absolute;
                                    top: -14px;                                                     
                                    background-color: $color-White;
                                    font-size: $H5-font-size;
                                    font-weight: $font-Weight-B;
                                    letter-spacing: $font-letter-space-200;
                                }
                                .shipping-information-content{
                                    display: flex;
                                    transition: 1s;
                                    @include sm-phone(){
                                        flex-direction: column;
                                    }
                                    ul{
                                        margin: 0;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        li{
                                            display: flex;                                        
                                            color: $color-Nav-icon;                  
                                            h5{
                                                flex: 50%;
                                                font-size: $H8-font-size;
                                                margin: 0;
                                                display: flex;
                                                align-items: center;
                                                @include sm-phone(){
                                                    flex: 40%; 
                                                }
                                            }
                                            p{
                                                flex: 50%;
                                                margin: 0;
                                                display: flex;
                                                align-items: center;
                                                font-size: $H10-font-size;
                                            }                                        
                                            &:not(:last-child){
                                                margin-bottom: 20px;
                                            }
                                            &:nth-child(2){
                                                display: flex;
                                                align-items: flex-start;
                                                h5{
                                                    flex: 0 0 50%;
                                                    @include sm-phone(){
                                                        flex: 0 0 45%;   
                                                    }
                                                }
                                            }
                                            .order-track{
                                                p{
                                                    &:nth-child(2){
                                                        font-size: $H11-font-size;
                                                        background-color: $color-Textarea-Text;
                                                        color: $color-White;
                                                        border-radius: 5px; 
                                                        text-align: center;
                                                        line-height: 20px;
                                                        padding-left: 5px;
                                                        &:hover{
                                                            background-color: $color-Apricot;
                                                        } 
                                                    }  
                                                }
                                            }
                                        }
                                        &:nth-child(1){
                                            flex:0 0 45%;
                                            li{
                                                &:nth-child(1){
                                                    display: flex;
                                                    align-items: flex-start;
                                                }
                                                .shipping-information-name{
                                                    flex: 50%;
                                                    @include sm-phone(){
                                                        flex:40%;
                                                    }
                                                    h5{
                                                        font-size: $H8-font-size;
                                                        margin: 0;
                                                    }
                                                    p{
                                                        margin: 0;
                                                        font-size: $H11-font-size;                                                
                                                    }
                                                }
                                            }
                                        }
                                        &:nth-child(2){
                                            flex:0 0 55%;
                                            .store-code-address{
                                                flex-wrap: wrap;
                                                line-height: 21px;
                                                .store-information{
                                                    flex: 0 0 82%;
                                                    display: flex;
                                                    transition: 1s;
                                                    @include sm-phone(){
                                                        flex: 0 0 90%;   
                                                    }
                                                    h5{
                                                        font-size: $H8-font-size;
                                                        margin: 0;
                                                        flex: 0 0 50%;
                                                    }
                                                    p{
                                                        margin: 0;
                                                        font-size: $H10-font-size;
                                                        flex: 0 0 50%;
                                                    }
                                                }
                                                .code-address{
                                                    flex: 0 0 82%;
                                                    display: flex;
                                                    transition: 1s;
                                                    @include sm-phone(){
                                                        flex: 0 0 90%;   
                                                    }
                                                    &:nth-child(3){
                                                        display: flex;
                                                        align-items: flex-start;
                                                    }
                                                    h5{
                                                        font-size: $H8-font-size;
                                                        margin: 0;
                                                        flex: 0 0 50%;
                                                        
                                                    }
                                                    p{
                                                        margin: 0;
                                                        font-size: $H10-font-size;
                                                        flex: 0 0 70%;
                                                        @include sm-phone(){
                                                            flex: 0 0 50%; 
                                                        }
                                                    }
                                                }
                                            }
                                        }                                    
                                    }
                                }
                            }
                            .payment-information{
                                width: 100%;
                                padding: 20px 0;
                                position: relative;
                                border: 1px solid $color-Background-line;
                                padding: 25px 10px 5px 10px;
                                @include iphone(){
                                    width: 300px;
                                }
                                h4{
                                    position: absolute;
                                    top: -14px;                                                     
                                    background-color: $color-White;
                                    font-size: $H5-font-size;
                                    font-weight: $font-Weight-B;
                                    letter-spacing: $font-letter-space-200;
                                }
                                .payment-information-content{
                                    margin: 0;
                                    display: flex;
                                    @include sm-phone(){
                                        flex-direction: column;
                                    }
                                    li{
                                        flex: 0 0 45%;
                                        transition: 1s;
                                        @include sm-phone(){
                                            &:nth-child(1){
                                                margin-bottom: 20px;
                                            }
                                        }
                                        .payment-invoice{
                                            flex: 0 0 100%;
                                            display: flex;
                                            color: $color-Nav-icon;  
                                            h5{
                                                font-size: $H8-font-size;
                                                margin: 0;
                                                flex: 0 0 50%;
                                                @include sm-phone(){
                                                    flex: 0 0 45%; 
                                                } 
                                            }
                                            p{
                                                margin: 0;
                                                font-size: $H10-font-size;
                                                flex: 0 0 60%;
                                                @include sm-phone(){
                                                    flex: 0 0 50%; 
                                                } 
                                            }
                                        }
                                    }                            
                                }
                            }
                        }
                    }
                }
                .message-and-button{
                    max-width: 371px;
                    width: 100%;
                    margin-left: 2vw;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    transition: 1s;
                    @include tablet(){
                        align-items: center;
                    }
                    .customer-service-message{                    
                        width: 100%;  
                        height: 550px;                                      
                        background: $color-White;
                        border: 1px solid $color-Apricot;
                        padding:40px 20px 20px 20px;
                        @include ex-screen(){
                            margin-top: 30px;
                            margin-bottom: 30px;
                        }
                        h4{
                            text-align: center;
                            font-size: $H5-font-size;                        
                            letter-spacing: $font-letter-space-200;
                        }
                        .message{
                            width: 100%;
                            max-height: 320px;
                            height: 100%;
                        }
                        .input-text{
                            width: 100%;
                            min-height: 80px;
                            padding: 5px;
                            border: 1px solid $color-Background-line;
                            outline: none;
                            margin: 10px 0;
                            &::placeholder{
                                color: $color-WedgwoodBlue;
                            }
                        }
                        .input-photo-button{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            input[type=button]{
                                &:nth-child(1){
                                    width: 85px;
                                    height: 35px;
                                    background-color:unset;
                                    border: 1px solid $color-Nav-icon;                    
                                    border-radius: 5px;
                                }
                                &:nth-child(2){
                                    width: 55px;
                                    height: 35px;
                                    background-color:unset;
                                    border: 1px solid $color-Nav-icon;                    
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                    .go-home-button{                                        
                        width: 100%;
                        
                        @include sm-phone(){
                            padding: 0px 10px;
                        }
                        .home-button{
                            cursor: pointer;
                            width: 100%;
                            border: none;                            
                            border-radius: 5px;
                            outline: none;
                            background: $color-Apricot;
                            color: $color-White;
                            font-size: $H4-font-size;
                            letter-spacing: $font-letter-space-200;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            z-index: 0;
                            overflow: hidden;
                            .anim {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                z-index: -1;
                                transform: translate(-50%,-50%);
                            
                                &:before {
                                    position: relative;
                                    content: '';
                                    display: block;
                                    margin-top: 100%;
                                }
                                
                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom:0;
                                    left: 0;
                                    right: 0;
                                    border-radius: 50%;
                                }
                            }
                        }                    
                    }
                }            
            }
        }
    }
}
.clickable {    
    &:hover .anim{        
        animation:anim-out .75s;
        &:after {         
            animation:anim-out-pseudo .75s;
        }        
    }
}
@keyframes anim-out
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}
@keyframes anim-out-pseudo
{
    0%
    {
        background: rgba(#000,0.25);
    }
    100%
    {
        background: rgba(#000,0);
    }
}
footer{
    height: 0px!important;
    .site-footer{
        .container{
            @include sm-screen(){
                max-width: 900px;
            }
            .return-nav{
                .footer-arrow{
                    @include arrow(){
                        position: absolute;
                        top: 225px!important;
                        right: 5.5vw!important;
                    }
                    @include iphone5s(){
                        top: 158px!important;
                        right: 2vw!important;
                    }
                    
                }
            }
        }
    }
}

