@import "_style_guild.scss";

// 大平板尺寸
@mixin tablet {
    @media (max-width: 1350px) {
        @content;
    }
}

// 小平板尺寸
@mixin sm-tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
//試穿資訊換版
@mixin try-on {
    @media (max-width: 991px) {
        @content;
    }
}

//大手機尺寸
@mixin bg-phone {
    @media (max-width: 768px) {
        @content;
    }
}
//商品卡片換版
@mixin single-cart {
    @media (max-width: 660px) {
        @content;
    }
}
// 小手機尺寸
@mixin sm-phone {
    @media (max-width: 520px) {
        @content;
    }
}

@mixin four-fifty {
    @media (max-width: 450px) {
        @content;
    }
}

// iphone 5s
@mixin iphone-5s {
    @media (max-width: 320px) {
        @content;
    }
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: $font-Family-A;
}

main {
    .trace-page {
        width: 100%;
        height: 100%;
        background-color: $color-LightGray;

        .trace-title {
            font-size: 72px;
            color: $color-White;

            @include sm-phone() {
                font-size: $H2-font-size;
            }
        }

        .trace-lists {
            @include try-on() {
                display: flex;
                flex-direction: column;
            }

            .list-group {
                @include try-on() {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .list-group-item {
                    width: 170px;
                    height: 60px;
                    background-color: $color-Footer-Background;
                    font-size: $H7-font-size;
                    color: $color-LightGray;
                    letter-spacing: $font-letter-space-200;
                    border-bottom: 1px solid black;
                    outline: none;
                    z-index: 2;

                    &:hover {
                        font-size: $H6-font-size;

                        @include bg-phone() {
                            font-size: $H7-font-size;
                        }

                        @include sm-phone() {
                            font-size: $H9-font-size;
                        }
                    }

                    @include try-on() {
                        max-width: 205px;
                        width: 100%;
                        font-size: $H8-font-size;
                        white-space: nowrap;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid black;
                        border-bottom: none;
                    }

                    @include bg-phone() {
                        font-size: $H10-font-size;
                        display: flex;
                        flex-direction: column;
                    }

                    @include sm-phone() {
                        font-size: $H11-font-size;
                    }

                    &.active {
                        width: 205px;
                        background-color: $color-White;
                        color: $color-WedgwoodBlue;
                        border-color: $color-SkyBlue;
                        border-right: 18px solid $color-SkyBlue;
                        margin-left: -18px;
                        z-index: 2;

                        @include try-on() {
                            max-width: 205px;
                            width: 100%;
                            height: 78px;
                            border-right: none;
                            border-bottom: 18px solid $color-SkyBlue;
                            z-index: 2;
                            font-size: $H8-font-size;
                        }

                        @include bg-phone() {
                            font-size: $H10-font-size;
                        }

                        @include sm-phone() {
                            font-size: $H11-font-size;
                        }
                    }

                    &:first-child {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }

            .tab-content {
                max-width: 1140px;
                width: 100%;

                .tab-pane {
                    .trace-data {
                        height: 100%;
                        background-color: $color-White;
                        border: 1px solid $color-Apricot;
                        margin-left: -17px;
                        margin-bottom: 72px;

                        @include try-on() {
                            width: 100%;
                            margin-left: 0;
                            margin-top: -17px;
                        }

                        .trace-container {
                            width: 90%;

                            .data-block1 {
                                height: 36px;
                                font-size: $H7-font-size;
                                color: $color-Nav-icon;
                                border-bottom: 2px solid #76828e;

                                @include bg-phone() {
                                    font-size: $H8-font-size;
                                }

                                @include sm-phone() {
                                    font-size: $H9-font-size;
                                    height: 48px;
                                }

                                @include four-fifty() {
                                    display: none;
                                }

                                .product-img {
                                    flex: 0 0 24%;
                                }

                                .product-information {
                                    flex: 0 0 47%;

                                    @include bg-phone() {
                                        flex: 0 0 41%;
                                    }

                                    @include sm-phone() {
                                        flex: 0 0 35%;
                                    }

                                    .information {
                                        @include four-fifty() {
                                            display: flex;
                                            flex-direction: column;
                                        }
                                    }
                                }

                                .product-price {
                                    flex: 0 0 8%;

                                    @include bg-phone() {
                                        flex: 0 0 10%;
                                    }

                                    @include sm-phone() {
                                        flex: 0 0 12%;
                                    }
                                }

                                .buy-status {
                                    flex: 0 0 13%;

                                    @include bg-phone() {
                                        flex: 0 0 16%;
                                    }

                                    @include sm-phone() {
                                        flex: 0 0 19%;
                                    }

                                    .status {
                                        @include four-fifty() {
                                            display: flex;
                                            flex-direction: column;
                                        }

                                        .purchase,
                                        .situation {
                                            @include four-fifty() {
                                                margin: auto;
                                            }
                                        }
                                    }
                                }

                                .product-delete {
                                    flex: 0 0 8%;

                                    @include bg-phone() {
                                        flex: 0 0 9%;
                                    }

                                    @include sm-phone() {
                                        flex: 0 0 10%;
                                    }
                                }
                            }

                            .data-block2 {
                                font-size: $H8-font-size;
                                color: $color-Nav-icon;
                                border-bottom: 2px solid #76828e;
                                padding-bottom: 60px;

                                @include bg-phone() {
                                    font-size: $H9-font-size;
                                }

                                @include sm-phone() {
                                    font-size: $H12-font-size;
                                }

                                @include four-fifty()  {
                                    padding-top: 36px;
                                }

                                @include iphone-5s() {
                                    font-size: $H11-font-size;
                                }

                                .block2-top {
                                    .top-img {
                                        flex: 0 0 23.5%;

                                        @include four-fifty() {
                                            flex: 0 0 33.5%;
                                        }

                                        img {
                                            max-width: 238px;
                                            width: 100%;
                                            max-height: 238px;
                                            height: 100%;

                                            @include four-fifty() {
                                                width: 120px;
                                                height: 120px;
                                                margin-top: -24px;
                                            }
                                        }
                                    }

                                    .top-title {
                                        flex: 0 0 46.5%;
                                        padding-top: 24px;

                                        @include bg-phone() {
                                            flex: 0 0 40.5%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 34.5%;
                                        }

                                        @include four-fifty() {
                                            flex: 0 0 66.5%;
                                            padding-top: 0px;
                                        }

                                        .heading1 {
                                            @include tablet() {
                                                display: flex;
                                                flex-direction: column;
                                            }

                                            .genuine-leather {
                                                @include tablet() {
                                                    padding-left: 7px;
                                                }
                                            }

                                            .fourfifty {
                                                display: none;

                                                @include four-fifty() {
                                                    padding-top: 24px;
                                                    padding-left: 6px;
                                                    display: flex;
                                                }

                                                .ffz-price {
                                                    .ffz-delete {
                                                        text-decoration: line-through;
                                                    }
                                                    .ffz-modify {
                                                        color: #ed701b;
                                                    }
                                                }

                                                .ffz-cart {
                                                    margin-top: 12px;
                                                    margin-left: 56px;
                                                }

                                                .ffz-can {
                                                    margin-top: 12px;
                                                    margin-left: 20px;
                                                }
                                            }
                                        }
                                    }

                                    .top-price {
                                        flex: 0 0 9.5%;

                                        @include bg-phone() {
                                            flex: 0 0 11.5%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 13.5%;
                                        }

                                        @include four-fifty() {
                                            display: none;
                                        }

                                        .delete-price1 {
                                            text-decoration: line-through;
                                        }

                                        .modify-price1 {
                                            color: #ed701b;
                                        }
                                    }

                                    .top-status {
                                        flex: 0 0 12%;

                                        @include bg-phone() {
                                            flex: 0 0 14%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 16%;
                                        }

                                        @include four-fifty() {
                                            display: none;
                                        }

                                        .status1 {
                                            @include tablet() {
                                                display: flex;
                                                flex-direction: column;
                                                text-align: center;
                                            }

                                            .subscribed, .goods-inform {
                                                @include sm-tablet() {
                                                    display: none;
                                                }
                                            }

                                            img {
                                                width: 24px;
                                                height: 24px;
                                                display: none;
                                                padding-top: 2px;

                                                @include sm-tablet() {
                                                    display: flex;
                                                    margin: auto;
                                                }
                                            }
                                        }
                                    }

                                    .top-delete {
                                        flex: 0 0 8.5%;
                                        cursor: pointer;

                                        @include bg-phone() {
                                            flex: 0 0 10.5%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 12.5%;
                                        }

                                        @include four-fifty() {
                                            display: none;
                                        }

                                        img {
                                            width: 22px;
                                            height: 22px;
                                        }
                                    }
                                }

                                .block2-bottom {
                                    .bottom-img {
                                        flex: 0 0 23.5%;

                                        @include four-fifty() {
                                            flex: 0 0 33.5%;
                                        }

                                        img {
                                            max-width: 238px;
                                            width: 100%;
                                            max-height: 238px;
                                            height: 100%;

                                            @include four-fifty() {
                                                width: 120px;
                                                height: 120px;
                                            }
                                        }
                                    }

                                    .bottom-title {
                                        flex: 0 0 46.5%;
                                        padding-top: 24px;

                                        @include bg-phone() {
                                            flex: 0 0 40.5%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 34.5%;
                                        }

                                        @include four-fifty() {
                                            flex: 0 0 66.5%;
                                            padding-top: 0px;
                                        }

                                        .heading2 {
                                            @include tablet() {
                                                display: flex;
                                                flex-direction: column;
                                            }

                                            .cowhide {
                                                @include tablet() {
                                                    padding-left: 7px;
                                                }
                                            }
                                        }

                                        .fourfifty {
                                            display: none;

                                            @include four-fifty() {
                                                padding-left: 6px;
                                                display: flex;
                                            }

                                            .ffz-price {
                                                .ffz-delete {
                                                    text-decoration: line-through;
                                                }
                                                .ffz-modify {
                                                    color: #ed701b;
                                                }
                                            }

                                            .ffz-cart {
                                                margin-top: 12px;
                                                margin-left: 56px;
                                            }

                                            .ffz-can {
                                                margin-top: 12px;
                                                margin-left: 20px;
                                            }
                                        }
                                    }

                                    .bottom-price {
                                        flex: 0 0 9.5%;

                                        @include bg-phone() {
                                            flex: 0 0 11.5%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 13.5%;
                                        }

                                        @include four-fifty() {
                                            display: none;
                                        }

                                        .delete-price2 {
                                            text-decoration: line-through;
                                        }

                                        .modify-price2 {
                                            color: #ed701b;
                                        }
                                    }

                                    .bottom-status {
                                        flex: 0 0 12%;

                                        @include bg-phone() {
                                            flex: 0 0 14%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 16%;
                                        }

                                        @include four-fifty() {
                                            display: none;
                                        }

                                        .add-shoppingCart {
                                            max-width: 112px;
                                            width: 100%;
                                            height: 38px;
                                            font-size: $H8-font-size;
                                            color: $color-Nav-icon;
                                            border: 1px solid $color-Nav-icon;
                                            background-color: $color-White;
                                            padding: 0;
                                            margin: 0;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;

                                            @include sm-tablet() {
                                                display: none;
                                            }

                                            &:hover {
                                                font-weight: bold;
                                                background-color: $color-MoreButton-hover;
                                                color: $color-White;
                                            }
                                        }

                                        img {
                                            width: 24px;
                                            height: 24px;
                                            display: none;

                                            @include sm-tablet() {
                                                display: flex;
                                                margin-top: 3px;
                                            }

                                            @include four-fifty() {
                                                display: none;
                                            }
                                        }
                                    }

                                    .bottom-delete {
                                        flex: 0 0 8.5%;
                                        cursor: pointer;

                                        @include bg-phone() {
                                            flex: 0 0 10.5%;
                                        }

                                        @include sm-phone() {
                                            flex: 0 0 12.5%;
                                        }

                                        @include four-fifty() {
                                            display: none;
                                        }

                                        img {
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }
                                }
                            }

                            .data-block3 {
                                display: flex;
                                justify-content: center;

                                .all-delete {
                                    border: 1px solid $color-Nav-icon;
                                    font-size: $H7-font-size;
                                    color: $color-Nav-icon;

                                    &:hover {
                                        font-weight: bold;
                                        background-color: $color-MoreButton-hover;
                                        color: $color-White;
                                    }
                                }
                            }

                            .data-block4 {
                                button {
                                    background-color: #ffffff;
                                    color: #a0a0a0;
                                    border: none;

                                    &:hover {
                                        color: #f7a269;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
